Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"

feat(docs): add Data Model section to documentation with link to future data architecture
  docs/documentation.html
Labels: none

chore: update documentation structure for better navigation and clarity
  docs/architecture/FUTURE_DATA_MODEL.md
Labels: none

chore: update documentation for improved clarity and organization
  docs/architecture/SYSTEM_ARCHITECTURE.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Refactor GitHub Actions workflows to set default permissions to read-only and improve job-specific permissions for enhanced security
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/test-and-report.yml
  docs/README.md
Labels: none

Update test-and-report.yml
  .github/workflows/test-and-report.yml
Labels: none

refactor: reorder tabs and labels for consistency in TechnicalDetailsWidget and SecurityVisualizationWidget
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
Labels: none

test: update text pattern in TechnicalDetailsWidget tests for accuracy
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
Labels: none

test: update text pattern in TechnicalDetailsWidget tests for accuracy
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Create budget.json
  budget.json
Labels: none

Update WORKFLOWS.md
  docs/architecture/WORKFLOWS.md
Labels: none

Add utility function to convert security levels to StatusType
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/utils/securityLevelUtils.ts
Labels: none

add more data to techdetailswidget
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
Labels: none

refactor: simplify TechnicalDetailsWidget tests and improve mock implementations
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update documentation.html
  docs/documentation.html
Labels: none

chore(release): bump version to v0.8.6
  package-lock.json
  package.json
Labels: none

Update budget.json
  budget.json
Labels: none

Create lighthouse-performance.yml
  .github/workflows/lighthouse-performance.yml
Labels: none

Create zap-scan.yml
  .github/workflows/zap-scan.yml
Labels: none

Enhance UI/UX with improved widget styles and responsive design
  src/application/CIAClassificationApp.tsx
  src/components/UI/ErrorMessage.tsx
  src/components/UI/LoadingSpinner.tsx
  src/components/UI/index.ts
  src/components/common/AppHeader.tsx
  src/components/common/BusinessImpactSection.tsx
  src/components/common/SecurityLevelBadge.tsx
  src/components/common/WidgetContainer.test.tsx
  src/components/common/WidgetContainer.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/constants/appConstants.ts
  src/constants/colorConstants.ts
  src/index.css
  src/styles/components.css
  src/styles/dark-theme.css
  src/styles/layout.css
  src/styles/light-theme.css
  src/styles/optimizations.css
  src/styles/test-compatibility.css
  src/styles/theme.css
  src/styles/utilities.css
  src/styles/variables.css
  src/styles/widget-improvements.css
Labels: data-model

refactor: remove widget improvements CSS file and enhance widget styles
  .github/workflows/release.yml
  src/application/CIAClassificationApp.tsx
  src/components/common/BusinessRiskDisplay.tsx
  src/components/common/RiskAssessment.tsx
  src/components/common/RiskLevelBadge.test.tsx
  src/components/common/RiskLevelBadge.tsx
  src/components/common/StatusBadge.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/data/ciaOptionsData.ts
  src/data/riskImpactData.ts
  src/data/security/confidentialityData.ts
  src/index.css
  src/services/businessImpactService.ts
  src/services/ciaContentService.ts
  src/styles/components.css
  src/styles/optimizations.css
  src/styles/test-compatibility.css
  src/styles/theme.css
  src/styles/widget-improvements.css
  src/types/cia-services.ts
  src/types/widget-props.ts
  src/types/widgets.ts
  src/utils/riskUtils.ts
Labels: none

chore(release): bump version to v0.8.7
  package-lock.json
  package.json
Labels: none

refactor(screenshots): enhance widget screenshot functionality and optimize styles for better UI/UX capture
  cypress/e2e/screenshots/widget-screenshots.cy.ts
  cypress/plugins/index.js
  cypress/support/command-registry.ts
  cypress/support/commands-types.d.ts
  cypress/support/commands.ts
  cypress/support/screenshot-utils.ts
  cypress/support/test-styles.ts
  cypress/support/widget-testing-template.ts
Labels: none

refactor(screenshots): enhance widget screenshot functionality and optimize styles for better UI/UX capture (#140)
  cypress/e2e/screenshots/widget-screenshots.cy.ts
  cypress/plugins/index.js
  cypress/support/command-registry.ts
  cypress/support/commands-types.d.ts
  cypress/support/commands.ts
  cypress/support/screenshot-utils.ts
  cypress/support/test-styles.ts
  cypress/support/widget-testing-template.ts
Labels: none

Refactor useCIADataProvider and add useSecurityMetricsService hook
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/hooks/useCIADataProvider.test.ts
  src/hooks/useCIADataProvider.ts
  src/hooks/useSecurityMetricsService.ts
  src/services/dataProviders.ts
  src/services/securityMetricsService.ts
  src/styles/components.css
  src/styles/variables.css
  src/tests/testUtils/chartTestUtils.test.ts
  src/tests/testUtils/chartTestUtils.ts
Labels: core-app

Refactor useCIADataProvider and add useSecurityMetricsService hook (#145)
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/hooks/useCIADataProvider.test.ts
  src/hooks/useCIADataProvider.ts
  src/hooks/useSecurityMetricsService.ts
  src/services/dataProviders.ts
  src/services/securityMetricsService.ts
  src/styles/components.css
  src/styles/variables.css
  src/tests/testUtils/chartTestUtils.test.ts
  src/tests/testUtils/chartTestUtils.ts
Labels: core-app

refactor(release): enhance permissions and add GitHub token for secure operations
  .github/workflows/release.yml
Labels: none

refactor(release): enhance permissions and add GitHub token for secure operations (#146)
  .github/workflows/release.yml
Labels: none

Revert "refactor(release): enhance permissions and add GitHub token for secur…"
  .github/workflows/release.yml
Labels: none

Revert "refactor(release): enhance permissions and add GitHub token for secur…" (#147)
  .github/workflows/release.yml
Labels: none
