Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

refactor: add Prettier and ESLint configurations for consistent code formatting and improved linting rules
  .devcontainer/devcontainer.json
  .eslintrc.cjs
  .prettierignore
  .prettierrc.cjs
  .vscode/settings.json
  cypress/tsconfig.json
  tsconfig.json
Labels: none

refactor: update BusinessImpactAnalysisWidget import paths for improved organization
  src/application/CIAClassificationApp.tsx
  src/components/index.ts
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/index.ts
Labels: none

refactor: update TypeScript configuration to include and exclude specific file patterns for improved build accuracy
  tsconfig.json
Labels: none

refactor: enhance StatusBadge type definitions and improve type safety in security metrics calculations
  src/components/common/StatusBadge.tsx
  src/index.ts
  src/services/securityMetricsService.test.ts
  src/types/componentPropExports.ts
  src/types/index.ts
Labels: none

refactor: remove withSecurityLevelState test file to streamline codebase
  src/hoc/__tests__/withSecurityLevelState.test.tsx
Labels: none

test: add unit tests for SecurityLevelBadge component with color class validation
  src/components/common/SecurityLevelBadge.test.tsx
Labels: none

refactor: extend TypeScript types for Vitest assertions to improve type safety and usability
  src/tests/vitest-setup.ts
Labels: none

refactor: remove ComplianceStatusWidget component to streamline codebase
  src/components/widgets/implementationguide/ComplianceStatusWidget.tsx
Labels: none

refactor: remove withSecurityLevelState HOC and update related components for direct export
  .github/copilot-instructions.md
  .vscode/settings.json
  src/application/CIAClassificationApp.tsx
  src/components/common/ProgressBar.tsx
  src/components/index.ts
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/appConstants.ts
  src/constants/testIds.ts
  src/contexts/SecurityLevelContext.tsx
  src/contexts/__tests__/SecurityLevelContext.test.tsx
  src/hoc/withSecurityLevelState.test.tsx
  src/hoc/withSecurityLevelState.tsx
  src/hooks/index.ts
  src/hooks/useComplianceService.ts
  src/hooks/useSecurityLevelState.ts
  src/hooks/useSecurityLevelSync.test.tsx
  src/hooks/useSecurityLevelSync.ts
  src/hooks/useSecurityResources.ts
  src/integration/ciaInterface.integration.test.ts
  src/performance/SecurityLevelChangeTracker.tsx
  src/services/ComplianceServiceAdapter.ts
  src/services/securityResourceService.ts
  src/tests/integration/SecurityLevelPropagation.test.tsx
  src/tests/setup.ts
  src/typedoc-entry.ts
  src/types/businessImpact.ts
  src/types/cia-services.ts
  src/utils/securityLevelUtils.ts
Labels: core-app, data-model

refactor: introduce ComplianceServiceStatic helper for simplified testing of compliance service functions
  src/services/ComplianceServiceAdapter.ts
  src/services/complianceService.test.ts
  src/services/complianceTestHelpers.ts
  src/services/securityResourceService.ts
Labels: none

refactor: enhance ROI estimation and impact details for security levels
  src/data/testDataProvider.ts
  src/data/valueCreationData.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/ciaContentService.ts
  src/services/securityResourceService.ts
Labels: none

refactor: add null checks and improve compliance status handling in services
  package-lock.json
  package.json
  src/data/testDataProvider.ts
  src/data/valueCreationData.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/ciaContentService.ts
  src/services/complianceService.ts
  src/services/securityResourceService.ts
Labels: none

refactor: update compliance service methods to match test expectations and improve clarity
  src/services/ComplianceServiceAdapter.ts
  src/services/complianceService.ts
Labels: none

refactor: enhance security level handling and add detailed business impact metrics for compliance frameworks
  src/constants/businessConstants.ts
  src/data/securityResources.ts
  src/data/valueCreationData.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/utils/securityLevelUtils.ts
Labels: high-coverage, data-model, critical-business-code

refactor: add ESLint configuration and relax unused variable rules for TypeScript and React components
  .eslintrc.js
  tsconfig.json
Labels: none

refactor: update StatusType to include 'info' and 'purple', enhance error handling in service calls, and improve type safety in utility functions
  src/application/CIAClassificationApp.tsx
  src/components/charts/SecurityRiskScore.tsx
  src/components/common/SecurityLevelIndicator.tsx
  src/components/common/StatusBadge.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
  src/types/common/StatusTypes.ts
  src/utils/riskUtils.ts
  src/utils/typeGuards.ts
Labels: data-model

refactor: update hook exports for consistency, enhance compliance service tests, and improve test coverage for framework status logic
  package-lock.json
  package.json
  src/constants/businessConstants.ts
  src/constants/testIds.ts
  src/hooks/index.ts
  src/hooks/useCIAContentService.test.ts
  src/hooks/useCIAContentService.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/businessImpactService.ts
  src/services/ciaContentService.test.ts
  src/services/ciaContentService.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/services/complianceTestHelpers.ts
  src/services/securityMetricsService.ts
  src/types/businessImpact.ts
  src/types/cia.ts
  src/types/compliance.ts
Labels: high-coverage, core-app, data-model, critical-business-code

refactor: restructure error handling by introducing errorUtils module, update hooks to utilize new utility functions, and enhance error formatting
  src/hooks/useCIAContentService.test.ts
  src/hooks/useCIAContentService.ts
  src/utils/errorUtils.ts
  src/utils/index.ts
Labels: core-app

refactor: add icon property to BusinessItem interface, introduce missing test IDs for cost estimation, and configure ESLint settings for improved code quality
  eslint.config.js
  package-lock.json
  package.json
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/constants/testIds.ts
  src/types/businessImpact.ts
Labels: data-model

refactor: enhance BusinessImpactAnalysisWidget tests, improve error handling, and update TypeScript configurations
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/tests/utils/mock.ts
  src/tests/vitest-extensions.d.ts
  tsconfig.json
Labels: none

refactor: enhance test setup with Jest DOM matchers, improve type definitions, and update security resource filtering logic
  package-lock.json
  package.json
  src/components/common/ResourceCard.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/appConstants.test.ts
  src/constants/testIds.ts
  src/data/valueCreationData.test.ts
  src/hooks/useCIAContent.ts
  src/hooks/useCIAContentService.test.ts
  src/hooks/useCIAOptions.test.ts
  src/hooks/useSecurityResources.ts
  src/services/businessImpactService.test.ts
  src/services/complianceService.test.ts
  src/services/dataProviders/CIADataProvider.ts
  src/services/securityMetricsService.test.ts
  src/services/securityResourceService.test.ts
  src/tests/setup-tests.ts
  src/tests/testUtils/mockFactory.ts
  src/tests/utils/mock.ts
  src/tests/vitest-extensions.d.ts
  src/tests/vitest-setup.ts
  src/types/businessImpact.test.ts
  src/types/cia-services.ts
  src/types/securityResources.ts
  src/types/vitest.d.ts
  src/utils/securityLevelUtils.test.ts
  src/vitest-global.d.ts
  src/vitest.d.ts
  tsconfig.json
  vite.config.ts
Labels: core-app, data-model

refactor: improve app header and logo styling, enhance terminal text visibility, and update version badge presentation
  src/application/CIAClassificationApp.tsx
  src/styles/components.css
  src/styles/theme.css
  src/styles/widget-improvements.css
Labels: none

refactor: simplify test commands in package.json by removing setup files
  package.json
Labels: none

refactor: enhance TechnicalDetailsWidget tests with improved mock implementations, async rendering, and custom test IDs
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
Labels: none

refactor: enhance SecurityVisualizationWidget tests with improved mocks, updated assertions, and refined test structure
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
Labels: none

refactor: streamline test configurations and improve overall test performance
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
Labels: none

refactor: enhance AvailabilityImpactWidget and ConfidentialityImpactWidget tests with improved assertions and selectors; update ValueCreationWidget tests for async handling and loading states
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
Labels: none

refactor: update test IDs and assertions in SecuritySummaryWidget, CostEstimationWidget, and ValueCreationWidget tests for consistency and accuracy
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
Labels: none

refactor: update test IDs in SecurityLevelWidget tests for consistency and accuracy
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
Labels: none

refactor: improve test selectors and assertions in CIAClassificationApp and SecurityLevelWidget tests for accuracy and resilience
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.direct.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/hooks/useCIAContentService.test.ts
Labels: core-app

refactor: rewrite error handling tests in BusinessImpactAnalysisWidget; enhance TechnicalDetailsWidget tests with improved assertions and mock components
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
  src/services/ComplianceServiceAdapter.test.ts
Labels: none

feat(types): add ComplianceFrameworkCoverage and CIAData interfaces; improve logging tests
  cypress/e2e/business-outcomes/compliance-validation.cy.ts
  cypress/e2e/security/security-level-transitions.cy.ts
  cypress/e2e/widgets/assessmentcenter/business-impact.cy.ts
  cypress/support/commands-types.d.ts
  cypress/support/commands.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/screenshot-analysis.ts
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/hooks/useCIADataProvider.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/securityMetricsService.test.ts
  src/types/cia-services.ts
  src/types/compliance.ts
  src/utils/colorUtils.ts
  src/utils/logger.test.ts
Labels: core-app

feat(api): implement fetchCIAData function to retrieve CIA data; update useCIADataProvider hook to utilize new API; add tests for data fetching and error handling
  src/components/charts/SecurityRiskScore.tsx
  src/components/common/RiskAssessment.test.tsx
  src/components/common/SecurityRiskScore.test.tsx
  src/components/common/SecurityRiskScore.tsx
  src/components/common/WidgetActions.test.tsx
  src/components/index.ts
  src/hooks/useCIADataProvider.test.ts
  src/hooks/useCIADataProvider.ts
  src/services/securityMetricsService.impact.test.ts
  src/services/securityMetricsService.test.ts
  src/services/securityMetricsService.ts
  src/utils/api.ts
Labels: core-app

Add tests for common components
  src/components/common/ResourceCard.test.tsx
Labels: none

feat(workflows): add license check step to CI workflows and update package.json scripts
  .github/workflows/release.yml
  .github/workflows/test-and-report.yml
  package-lock.json
  package.json
Labels: none

feat(docs): update project overview and key features sections in documentation
  docs/architecture/WORKFLOWS.md
  docs/documentation.html
Labels: none

feat(docs): update BCP Plan documentation with new visualizations for reputational impact and data loss tolerance
  docs/architecture/BCPPlan.md
Labels: none

feat(docs): enhance architecture and workflows documentation with emojis for improved readability
  docs/architecture/ARCHITECTURE.md
  docs/architecture/FUTURE_WORKFLOWS.md
  docs/architecture/MINDMAP.md
  docs/architecture/WORKFLOWS.md
Labels: none

feat(docs): enhance FLOWCHART.md with detailed reporting, assessment, and visualization processes using mermaid diagrams
  docs/architecture/FLOWCHART.md
  docs/architecture/FUTURE_FLOWCHART.md
  docs/architecture/FUTURE_MINDMAP.md
  docs/architecture/FUTURE_STATEDIAGRAM.md
  docs/architecture/FUTURE_SWOT.md
Labels: none

feat(docs): add contribution guidelines for architecture documentation to ensure consistency and quality
  docs/architecture/CONTRIBUTION_GUIDELINES.md
  docs/architecture/FUTURE_DATA_MODEL.md
  docs/architecture/STYLE_GUIDE.md
Labels: none

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
