Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

Update README to simplify badge section
  README.md
Labels: none

chore(release): bump version to v1.0.0
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.0
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-DeeqN-d1.js
  docs/assets/SecurityVisualizationWidget-DeeqN-d1.js.map
  docs/assets/index-mFiQTI0N.js
  docs/assets/index-mFiQTI0N.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

docs: Align README with ISMS-PUBLIC standards and enhance documentation consistency (#722)
  README.md
Labels: none

Reorganize Business Value & Strategic Impact section
  README.md
Labels: none

Restore Business Value & Strategic Impact section
  README.md
Labels: none

Document GitHub Copilot custom agents and usage
  README.md
Labels: none

Update permissions in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: none

docs: update agents with context initialization and enhance README diagrams (#729)
  .github/agents/README.md
  .github/agents/code-review-agent.md
  .github/agents/documentation-agent.md
  .github/agents/product-task-agent.md
  .github/agents/security-compliance-agent.md
  .github/agents/testing-agent.md
  .github/agents/typescript-react-agent.md
  .github/workflows/copilot-setup-steps.yml
Labels: none

Add DeepWiki badge to README
  README.md
Labels: none

chore(release): bump version to v1.0.1
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.1
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-HNp03R60.js
  docs/assets/SecurityVisualizationWidget-HNp03R60.js.map
  docs/assets/index-fKbV48fF.js
  docs/assets/index-fKbV48fF.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

chore(release): bump version to v1.0.2
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.2
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-DMyqJZDE.js
  docs/assets/SecurityVisualizationWidget-DMyqJZDE.js.map
  docs/assets/index-SQJHz3g8.js
  docs/assets/index-SQJHz3g8.js.map
  docs/assets/react-vendor-Bke6-7xW.js
  docs/assets/react-vendor-Bke6-7xW.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

chore(release): bump version to v1.0.3
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.3
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-CB8Zpreo.js
  docs/assets/SecurityVisualizationWidget-CB8Zpreo.js.map
  docs/assets/index-BXq8POFf.js
  docs/assets/index-BXq8POFf.js.map
  docs/assets/react-vendor-DBUtp-b8.js
  docs/assets/react-vendor-DBUtp-b8.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

chore(release): bump version to v1.0.4
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.4
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-Bj7MMCFf.js
  docs/assets/SecurityVisualizationWidget-Bj7MMCFf.js.map
  docs/assets/chart-BRhaV9pk.js
  docs/assets/chart-BRhaV9pk.js.map
  docs/assets/index-D0yup81N.css
  docs/assets/index-bi4WgBtZ.js
  docs/assets/index-bi4WgBtZ.js.map
  docs/assets/react-vendor-gLPLSgXB.js
  docs/assets/react-vendor-gLPLSgXB.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

feat(ci): optimize workflow performance with comprehensive caching strategy (#777)
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/test-and-report.yml
  docs/workflow-cache-optimization.md
Labels: none

chore(release): bump version to v1.0.5
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.5
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-DnyrWgQm.js
  docs/assets/SecurityVisualizationWidget-DnyrWgQm.js.map
  docs/assets/index-DTGzZELM.js
  docs/assets/index-DTGzZELM.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

chore(release): bump version to v1.0.6
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.0.6
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-XWTl7pf_.js
  docs/assets/SecurityVisualizationWidget-XWTl7pf_.js.map
  docs/assets/index-DIirte3V.js
  docs/assets/index-DIirte3V.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

feat: Implement design system foundation and apply to all 11 widgets with full semantic color compliance (#806)
  docs/CODE_QUALITY_ANALYSIS.md
  docs/DESIGN_SYSTEM.md
  docs/DESIGN_SYSTEM_IMPLEMENTATION_GUIDE.md
  docs/DESIGN_SYSTEM_IMPLEMENTATION_SUMMARY.md
  src/components/common/WidgetContainer.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/designTokens.test.ts
  src/constants/designTokens.ts
  src/constants/index.ts
  tailwind.config.js
Labels: data-model

feat: Implement WCAG 2.1 AA accessibility foundation and enhance all 12 widgets - 100% COMPLETE (#807)
  cypress/e2e/accessibility.cy.ts
  cypress/support/e2e.ts
  docs/ACCESSIBILITY_REPORT.md
  docs/WIDGET_ACCESSIBILITY_GUIDE.md
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
  src/utils/accessibility.test.ts
  src/utils/accessibility.ts
  src/utils/index.ts
Labels: data-model

test: Service layer complete - error handling, type safety, validation, documentation, and comprehensive testing (#808)
  docs/SERVICE_ARCHITECTURE.md
  src/services/BaseService.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/businessImpactService.ts
  src/services/complianceService.ts
  src/services/errors.test.ts
  src/services/errors.ts
  src/services/securityMetricsService.ts
  src/services/securityResourceService.ts
  src/services/technicalImplementationService.ts
  src/types/services.ts
Labels: none

feat: Add keyboard shortcuts with browser conflict resolution and performance optimizations (#811)
  README.md
  src/App.tsx
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.direct.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/application/CIAClassificationApp.test.tsx
  src/application/CIAClassificationApp.tsx
  src/components/common/KeyboardShortcutHelp.test.tsx
  src/components/common/KeyboardShortcutHelp.tsx
  src/components/common/ShortcutBadge.test.tsx
  src/components/common/ShortcutBadge.tsx
  src/constants/index.ts
  src/constants/keyboardShortcuts.ts
  src/contexts/KeyboardShortcutContext.test.tsx
  src/contexts/KeyboardShortcutContext.tsx
  src/hooks/index.ts
  src/hooks/useKeyboardShortcuts.test.ts
  src/hooks/useKeyboardShortcuts.ts
  src/types/index.ts
  src/types/keyboard.ts
  src/utils/index.ts
  src/utils/keyboardUtils.test.ts
  src/utils/keyboardUtils.ts
Labels: high-coverage, core-app, data-model

refactor: enhance error handling with centralized service and context, extending existing components (#813)
  docs/ERROR_HANDLING.md
  src/App.tsx
  src/components/common/ErrorToast.test.tsx
  src/components/common/ErrorToast.tsx
  src/contexts/ErrorContext.test.tsx
  src/contexts/ErrorContext.tsx
  src/services/errorService.test.ts
  src/services/errorService.ts
  src/services/errors.ts
  src/services/index.ts
Labels: high-coverage, core-app

perf: Reduce initial bundle 85.5% via lazy loading (67KB→9.69KB gzip) (#814)
  budget.json
  docs/BUNDLE_ANALYSIS.md
  docs/performance-testing.md
  src/application/CIAClassificationApp.lazyloading.test.tsx
  src/application/CIAClassificationApp.tsx
  vite.config.ts
Labels: none

test: Expand E2E coverage for workflows, edge cases, and cross-widget interactions (#815)
  cypress/e2e/edge-cases/error-handling.cy.ts
  cypress/e2e/integration/cross-widget-interactions.cy.ts
  cypress/e2e/performance/widget-performance.cy.ts
  cypress/e2e/widgets/assessmentcenter/business-impact.cy.ts
  cypress/e2e/workflows/comparison-scenarios.cy.ts
  cypress/e2e/workflows/complete-assessment.cy.ts
  cypress/support/commands.ts
  cypress/support/test-types.ts
  docs/E2ETestPlan.md
Labels: none

chore(release): bump version to v1.1.0
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.0
  docs/app-update-info.txt
  docs/assets/index-HBnaIGp3.js
  docs/assets/index-HBnaIGp3.js.map
  docs/assets/react-vendor-BzhlA2NX.js
  docs/assets/react-vendor-BzhlA2NX.js.map
  docs/assets/widgets-assessment-CQA_0dee.js
  docs/assets/widgets-assessment-CQA_0dee.js.map
  docs/assets/widgets-business-BIUBGmdh.js
  docs/assets/widgets-business-BIUBGmdh.js.map
  docs/assets/widgets-impact-BLnvo-In.js
  docs/assets/widgets-impact-BLnvo-In.js.map
  docs/assets/widgets-implementation-BpumW_W9.js
  docs/assets/widgets-implementation-BpumW_W9.js.map
  docs/assets/widgets-visualization-XpSuktuw.js
  docs/assets/widgets-visualization-XpSuktuw.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

fix: adjust design system tokens to restore v1.0.6 visual appearance while preserving improvements from PRs #806 and #807 (#817)
  cypress/e2e/screenshots/widget-screenshots.cy.ts
  tailwind.config.js
Labels: none

chore(release): bump version to v1.1.1
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.1
  docs/app-update-info.txt
  docs/assets/index-Db1-qYOE.js
  docs/assets/index-Db1-qYOE.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

perf: Reduce widget spacing and unify tab styling with CSS best practices and performance optimization (#818)
  src/styles/components.css
  src/styles/light-theme.css
  src/styles/variables.css
  tailwind.config.js
Labels: none

chore(release): bump version to v1.1.2
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.2
  docs/app-update-info.txt
  docs/assets/index-DDLfzKPN.js
  docs/assets/index-DDLfzKPN.js.map
  docs/assets/index-D_IUjJF5.css
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

feat: Implement consistent data-testid naming convention with ESLint enforcement, CSS alignment, TypeScript type safety, and complete test coverage (#830)
  CONTRIBUTING.md
  eslint-local-rules.cjs
  eslint.config.js
  src/application/CIAClassificationApp.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.test.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
  src/styles/components.css
  src/styles/utilities.css
Labels: data-model

chore(release): bump version to v1.1.3
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
