Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

Update README.md
  README.md
Labels: none

feat: update security level color constants for improved visibility; implement centralized color retrieval functions for consistency across components; correct SOC2 compliance framework version
  src/constants/colorConstants.ts
  src/constants/coreConstants.ts
  src/utils/widgetHelpers.tsx
Labels: data-model

feat: enhance test setup with helper functions; update test scripts for detailed reporting; improve widget tests with custom className and mock implementations
  package.json
  src/CIAClassificationApp.test.tsx
  src/components/RadarChart.direct.test.tsx
  src/components/common/WidgetContainer.test.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/CIAImpactSummaryWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/CostEstimationWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/SecurityResourcesWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/tests/mockFactory.tsx
  src/tests/setup.ts
  src/tests/smoke.test.tsx
  src/tests/testSetupHelpers.tsx
  src/tests/vitest-extensions.d.ts
  src/types/cia.test.ts
  test-results.json
Labels: none

feat: update test cases for improved accuracy; add missing mock implementations and refine assertions for better coverage; enhance .gitignore to include test-results.json
  .gitignore
  src/CIAClassificationApp.direct.test.tsx
  src/CIAClassificationApp.test.tsx
  src/components/Dashboard.test.tsx
  src/components/SecurityLevelSelector.test.tsx
  src/components/common/WidgetContainer.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/hooks/useCIAOptions.test.ts
  src/services/ciaContentService.test.ts
Labels: core-app

feat: enhance Cypress tests with improved test ID usage; add helper functions for logging and checking test IDs; refactor widget tests for better selector accuracy and maintainability
  cypress/e2e/core-behaviors/set-security-levels.cy.ts
  cypress/e2e/securityLevels.cy.ts
  cypress/e2e/widget-interactions.cy.ts
  cypress/e2e/widgets/business-impact-widget.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/radar-chart-widget.cy.ts
  cypress/e2e/widgets/security-profile-widget.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  cypress/e2e/widgets/value-creation-widget.cy.ts
  cypress/e2e/widgets/widget-test-helper.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/constants.ts
  cypress/support/test-debug-helper.ts
Labels: none

feat: enhance compliance testing with resilient widget finding and logging; refactor test cases for improved visibility and reliability; implement new test patterns for security level feedback
  cypress/e2e/business-outcomes/assess-security-costs.cy.ts
  cypress/e2e/business-outcomes/business-impact-details.cy.ts
  cypress/e2e/business-outcomes/business-impact.cy.ts
  cypress/e2e/business-outcomes/review-security-impact.cy.ts
  cypress/e2e/business-outcomes/view-compliance-status.cy.ts
  cypress/e2e/core-behaviors/set-security-levels.cy.ts
  cypress/e2e/user-flows/security-compliance-flow.cy.ts
  cypress/e2e/view-compliance-status.cy.ts
  cypress/e2e/widget-interactions.cy.ts
  cypress/e2e/widgets/business-impact-widget.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/radar-chart-widget.cy.ts
  cypress/e2e/widgets/security-profile-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/test-debug-helper.ts
  cypress/support/test-patterns.ts
  cypress/support/widget-finder.ts
Labels: none

feat: consolidate business impact tests for improved execution efficiency; enhance visibility with larger viewport and custom styles; refine assertions for security level impacts
  cypress/e2e/consolidated/business-impact.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
Labels: none

feat: remove redundant title from SecurityLevelSelector for cleaner UI; streamline component structure
  src/components/SecurityLevelSelector.tsx
Labels: none

feat: update security level colors and styles for improved visibility; enhance dark mode support and centralize color utilities
  docs/assets/index-B2lQrNPi.js
  docs/assets/index-B2lQrNPi.js.map
  docs/assets/index-BC1JerDb.css
  docs/assets/index-DiTXsOV_.js
  docs/assets/index-DiTXsOV_.js.map
  docs/assets/index-OnceS2aV.css
  docs/index.html
  src/components/SecurityLevelSelector.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/constants/colorConstants.ts
  src/styles/components.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/utilities.css
  src/styles/variables.css
  src/utils/widgetHelpers.tsx
Labels: needs-tests, component-security-level, data-model, critical-security-code

chore(release): bump version to v0.7.0
  package-lock.json
  package.json
Labels: none

fix: update favicon and asset links to remove leading slashes for correct path resolution
  docs/index.html
Labels: none

feat: enhance Ingress theme with new styles, components, and security level features
  public/index.html
  src/CIAClassificationApp.tsx
  src/components/RadarChart.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/common/CIAImpactCard.tsx
  src/components/common/KeyValuePair.tsx
  src/components/common/MetricsCard.tsx
  src/components/common/SecurityLevelSummaryItem.tsx
  src/components/common/StatusBadge.tsx
  src/components/common/ValueDisplay.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/constants/colorConstants.ts
  src/constants/testIds.ts
  src/index.css
  src/styles/ingress-theme.css
  src/styles/theme.css
  src/styles/variables.css
  src/types/cia-services.ts
  src/types/widgets.tsx
  src/utils/securityLevelUtils.ts
  src/utils/widgetHelpers.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-radar, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

feat: enhance security visualization and technical details widgets with new metrics and styling
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/services/ciaContentService.ts
  src/styles/ingress-theme.css
  src/types/cia-services.ts
Labels: none

feat: update ROI estimates with refined descriptions and adjusted return rates for security levels
  src/hooks/useCIAOptions.ts
Labels: needs-tests, core-app

update data
  src/hooks/useCIAOptions.ts
Labels: needs-tests, core-app

feat: add BusinessImpactSection and SecurityVisualizationWidget components with corresponding tests
  .gitignore
  src/components/common/BusinessImpactSection.test.tsx
  src/components/common/BusinessImpactSection.tsx
  src/components/widgets/SecurityVisualizationWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/hooks/useCIAOptions.test.ts
  src/services/ciaContentService.test.ts
  src/utils/securityDefaults.test.ts
  src/utils/securityDefaults.ts
Labels: core-app

test: enhance tests for BusinessImpactSection, SecurityVisualizationWidget, and ValueCreationWidget with improved handling and additional scenarios
  src/components/common/BusinessImpactSection.test.tsx
  src/components/widgets/SecurityVisualizationWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/services/ciaContentService.test.ts
Labels: none

test: improve IntegrityImpactWidget and ValueCreationWidget tests with refined assertions and enhanced readability
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
Labels: none

test: improve TechnicalDetailsWidget tests with updated selectors and enhanced readability
  src/components/widgets/TechnicalDetailsWidget.test.tsx
Labels: none

test: update CostEstimationWidget, AvailabilityImpactWidget, ConfidentialityImpactWidget, and StatusBadge tests for improved accuracy and readability
  src/components/common/KeyValuePair.test.tsx
  src/components/common/MetricsCard.test.tsx
  src/components/common/StatusBadge.test.tsx
  src/components/common/ValueDisplay.test.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/CostEstimationWidget.test.tsx
  src/services/ciaContentService.test.ts
Labels: none

refactor: update imports and improve ESLint configuration for better performance and compatibility
  cypress/support/plugins/junit-merger.ts
  cypress/support/plugins/junit-reporter.ts
  cypress/tsconfig.json
  eslint.config.js
  package.json
Labels: none

fix: correct XML escaping in junit-reporter and update TypeScript configuration to target ES2022 refactor: enhance JUnit reset functionality and improve Cypress test patterns for better reliability
  cypress/e2e/business-outcomes/assess-security-costs.cy.ts
  cypress/e2e/performance/widget-performance.cy.ts
  cypress/support/debug-helpers.ts
  cypress/support/performance-assertions.ts
  cypress/support/performance-reporter.ts
  cypress/support/plugins/junit-reporter.ts
  cypress/support/test-patterns.ts
  cypress/tasks/junit-reset.ts
  cypress/tsconfig.json
  eslint.config.js
  package.json
Labels: none

feat: enhance ESLint configuration with TypeScript support checks and improved file handling
  app-running-dark2.html
  app-running-light.html
  app-running.html
  data-testid-analysis.md
  eslint.config.js
Labels: none

chore: clean up unused code and improve overall project structure
  cypress/config/performance-baseline.ts
  cypress/e2e/accessibility/widget-accessibility.cy.ts
  cypress/e2e/business-outcomes/assess-security-costs.cy.ts
  cypress/e2e/business-outcomes/business-impact-details.cy.ts
  cypress/e2e/business-outcomes/business-impact.cy.ts
  cypress/e2e/business-outcomes/review-security-impact.cy.ts
  cypress/e2e/business-outcomes/view-compliance-status.cy.ts
  cypress/e2e/consolidated/business-impact.cy.ts
  cypress/e2e/interactions/technical-implementation-details.cy.ts
  cypress/e2e/performance/performance-requirements.cy.ts
  cypress/e2e/performance/widget-performance.cy.ts
  cypress/e2e/setup/diagnose-require-issue.cy.ts
  cypress/e2e/setup/e2e-setup.cy.ts
  cypress/e2e/setup/identify-app-structure.cy.ts
  cypress/e2e/setup/junit-report-analysis.cy.ts
  cypress/e2e/user-flows/complete-security-assessment-flow.cy.ts
  cypress/e2e/user-flows/security-compliance-flow.cy.ts
  cypress/e2e/view-compliance-status.cy.ts
  cypress/e2e/widget-interactions.cy.ts
  cypress/integration/widget-integration.spec.ts
  cypress/plugins/performance-reporter.js
  cypress/support/junit-report-verifier.ts
  cypress/support/performance-assertions.ts
  cypress/support/performance-dashboard.ts
  cypress/support/performance-reporter.ts
  cypress/support/test-debugger.ts
  cypress/tsconfig.json
Labels: none

feat: add type definitions for junit-merger module and enhance ESLint settings
  .vscode/settings.json
  cypress/e2e/widgets/security-profile-widget.cy.ts
  cypress/e2e/widgets/security-resources-widget.cy.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/constants.ts
  cypress/support/e2e.ts
  cypress/support/index.d.ts
  cypress/support/junit-report-verifier.ts
  cypress/support/plugins/junit-merger.d.ts
  cypress/support/test-debug-helper.ts
  cypress/support/test-debugger.ts
  cypress/support/test-helpers.ts
  cypress/support/types/index.d.ts
Labels: none

feat: enhance widget analysis and update test IDs for improved accuracy and TypeScript support
  cypress.config.ts
  cypress/e2e/widgets/availability-impact-widget.cy.ts
  cypress/e2e/widgets/business-impact-widget.cy.ts
  cypress/e2e/widgets/cia-impact-summary-widget.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/confidentiality-impact-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/integrity-impact-widget.cy.ts
  cypress/e2e/widgets/radar-chart-widget.cy.ts
  cypress/e2e/widgets/security-resources-widget.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/security-visualization-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  cypress/e2e/widgets/value-creation-widget.cy.ts
  cypress/e2e/widgets/widget-test-helper.ts
  cypress/support/commands.ts
  cypress/support/constants.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/test-patterns.ts
  cypress/support/types/index.d.ts
  cypress/support/widget-finder.ts
Labels: none

chore: remove obsolete files and update Cypress configuration for improved viewport settings
  .github/workflows/lint.yml
  .github/workflows/pr-doc-preview.yml
  app-running-dark2.html
  app-running-light.html
  app-running.html
  cypress.config.ts
  eslint.config.js
  package-lock.json
  package.json
Labels: none

feat: integrate cypress-vite preprocessor and update viewport settings for enhanced performance
  cypress.config.ts
Labels: none

feat: add readFile task to Cypress configuration and remove results directory creation
  cypress.config.ts
Labels: none

fix: update asset paths in manifest and index files for correct resolution
  docs/assets/index-7u9Ies0a.js
  docs/assets/index-7u9Ies0a.js.map
  docs/assets/index-BC1JerDb.css
  docs/assets/index-BNyO8G0_.css
  docs/assets/index-DCmFp_UC.js
  docs/assets/index-DCmFp_UC.js.map
  docs/assets/index-DiTXsOV_.js
  docs/assets/index-DiTXsOV_.js.map
  docs/index.html
  docs/manifest.json
Labels: none

fix: update manifest link to remove leading slash for correct path resolution
  docs/index.html
Labels: none

fix: update icon paths in manifest to use absolute URLs for correct resolution
  docs/manifest.json
Labels: none

fix: update script and icon paths in manifest for correct resolution
  docs/assets/index-7u9Ies0a.js.map
  docs/assets/index-ta353VYC.js
  docs/assets/index-ta353VYC.js.map
  docs/index.html
  docs/manifest.json
Labels: none

chore: update devDependencies and refine coverage exclusions in vite.config.ts
  package-lock.json
  package.json
  vite.config.ts
Labels: none

feat: enhance RadarChart tests and add type guard utility tests for improved coverage
  package-lock.json
  src/components/RadarChart.test.tsx
  src/utils/typeGuards.test.ts
  src/utils/widgetHelpers.test.tsx
  src/utils/widgetHelpers.tsx
  vite.config.ts
Labels: none

feat: implement widget loading indicator improvements and add comprehensive tests for CIAClassificationApp
  src/CIAClassificationApp.enhanced.test.tsx
  src/components/common/BusinessImpactSection.test.tsx
  src/utils/widgetHelpers.test.tsx
  src/utils/widgetHelpers.tsx
Labels: none

feat: add new test scripts for analyzing and diagnosing utilities, and fix RadarChart and dark mode tests
  package.json
Labels: none

refactor: move vi.mock calls to the top of test files for improved readability and consistency
  docs/testing-guide.md
  scripts/analyze-test-utilities.ts
  scripts/fix-all-tests.ts
  scripts/fix-vitest-hoisting.ts
  scripts/test-diagnostic-report.ts
  scripts/test-diagnostics.ts
  src/CIAClassificationApp.darkmode.test.tsx
  src/CIAClassificationApp.darkmode.test.tsx.bak
  src/CIAClassificationApp.direct.test.tsx.bak
  src/CIAClassificationApp.enhanced.test.tsx.bak
  src/CIAClassificationApp.test.tsx.bak
  src/components/Dashboard.test.tsx.bak
  src/components/RadarChart.direct.test.tsx.bak
  src/components/RadarChart.enhanced.test.tsx
  src/components/RadarChart.extended.test.tsx
  src/components/RadarChart.extended.test.tsx.bak
  src/components/RadarChart.test.tsx.bak
  src/components/SecurityLevelSelector.test.tsx.bak
  src/components/common/BusinessImpactSection.extended.test.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx.bak
  src/components/widgets/SecuritySummaryWidget.test.tsx.bak
  src/hooks/useCIAOptions.ts
  src/services/ciaContentService.test.ts.bak
  src/tests/mockHelpers.ts
  src/tests/testMocks.ts
  src/tests/testMocks/ciaOptionsMocks.ts
  src/tests/testUtils/chartTestUtils.ts
  src/tests/testUtils/index.ts
  src/tests/testUtils/mockFactory.ts
  src/utils/test-helpers.ts
  src/utils/typeGuards.enhanced.test.ts
  src/utils/typeGuards.ts
Labels: needs-tests, core-app

fix: update paths in index.html to remove leading slashes for consistency
  docs/index.html
Labels: none

feat: add tests for Technical Details and Security Level Selection widgets, including content verification and security level updates
  cypress/e2e/core-behaviors/set-security-levels.cy.ts
  cypress/e2e/securityLevels.cy.ts
  cypress/e2e/widgets/business-impact-widget.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/radar-chart-widget.cy.ts
  cypress/e2e/widgets/security-level-widget.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-details-widget.cy.ts
  cypress/e2e/widgets/value-creation-widget.cy.ts
  cypress/fixtures/security-profiles.json
  cypress/support/commands.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/enhanced-commands.ts
  cypress/support/index.d.ts
  cypress/support/types.d.ts
  cypress/support/types/index.d.ts
  cypress/test-data/app-dark-all-Low.html
  cypress/test-data/app-dark-no-sec-level-set.html
  cypress/test-data/app-light-all-Moderate.html
  cypress/test-data/app-light-no-sec-level-set.html
  cypress/test-data/data-testid-analysis.md
  src/components/widgets/SecurityLevelWidget.test.tsx.bak
  src/components/widgets/SecuritySummaryWidget.test.tsx.bak
Labels: none

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
