Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

Refactor state diagram class definitions for consistency and clarity
  docs/architecture/STATEDIAGRAM.md
  docs/architecture/SWOT.md
  docs/architecture/WORKFLOWS.md
Labels: none

Refactor documentation for improved clarity and consistency
  README.md
Labels: none

Refactor state diagram class definitions for consistency and clarity
  docs/architecture/STATEDIAGRAM.md
Labels: none

Add traditional SWOT quadrant chart and alternative network visualization to documentation
  docs/architecture/SWOT.md
Labels: none

Refactor SWOT documentation for improved clarity and consistency
  docs/architecture/SWOT.md
Labels: none

Refactor dark mode implementation to enable by default and update related tests for consistency
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  docs/cypress/mochawesome/mochawesome_03162025_185325.html
  docs/cypress/mochawesome/mochawesome_03162025_185325.json
  docs/cypress/mochawesome/mochawesome_03162025_185340.html
  docs/cypress/mochawesome/mochawesome_03162025_185340.json
  docs/cypress/mochawesome/mochawesome_03162025_185425.html
  docs/cypress/mochawesome/mochawesome_03162025_185425.json
  docs/cypress/mochawesome/mochawesome_03162025_185437.html
  docs/cypress/mochawesome/mochawesome_03162025_185437.json
  docs/cypress/mochawesome/mochawesome_03162025_185450.html
  docs/cypress/mochawesome/mochawesome_03162025_185450.json
  docs/cypress/mochawesome/mochawesome_03162025_185518.html
  docs/cypress/mochawesome/mochawesome_03162025_185518.json
  docs/cypress/mochawesome/mochawesome_03162025_185625.html
  docs/cypress/mochawesome/mochawesome_03162025_185625.json
  docs/cypress/mochawesome/mochawesome_03162025_185649.html
  docs/cypress/mochawesome/mochawesome_03162025_185649.json
  docs/cypress/mochawesome/mochawesome_03162025_185714.html
  docs/cypress/mochawesome/mochawesome_03162025_185714.json
  docs/cypress/mochawesome/mochawesome_03162025_185746.html
  docs/cypress/mochawesome/mochawesome_03162025_185746.json
  docs/cypress/mochawesome/mochawesome_03162025_185815.html
  docs/cypress/mochawesome/mochawesome_03162025_185815.json
  docs/cypress/mochawesome/mochawesome_03162025_185826.html
  docs/cypress/mochawesome/mochawesome_03162025_185826.json
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.tsx
Labels: none

Add error handling and consistent styling to various widgets.
  .devcontainer/devcontainer.json
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
Labels: needs-tests, high-coverage, component-security-level, component-business-impact, component-compliance, critical-security-code, critical-business-code

Add SecurityRiskScore component and enhance widget exports for clarity
  cypress/test-data/app-dev.html
  src/application/CIAClassificationApp.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/common/SecurityLevelSelector.tsx
  src/components/common/SecurityRiskScore.tsx
  src/components/common/Tooltip.tsx
  src/components/common/index.ts
  src/components/index.ts
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/components/widgets/utils/widgetHelpers.tsx
  src/components/widgets/utils/widgetRegistry.test.tsx
  src/components/widgets/utils/widgetRegistry.tsx
  src/constants/appConstants.ts
  src/constants/testIds.ts
  src/hooks/useCIAOptions.ts
  src/styles/ingress-theme.css
Labels: needs-tests, high-coverage, component-security-level, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

Update ARCHITECTURE.md
  docs/architecture/ARCHITECTURE.md
Labels: none

Enhance widget tests by mocking components and improving prop handling; update TechnicalDetailsWidget for better default values and implementation costs
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityResourcesWidget.test.tsx
  src/components/widgets/SecurityVisualizationWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/components/widgets/utils/widgetRegistry.test.tsx
Labels: none

Update documentation.html
  docs/documentation.html
Labels: none

Refactor widget utilities: remove deprecated files and streamline exports; add standardized error handling for widgets
  src/components/index.ts
  src/components/widgets/utils/index.ts
  src/components/widgets/utils/types.ts
  src/components/widgets/utils/widgetHelpers.test.tsx
  src/components/widgets/utils/widgetHelpers.tsx
  src/components/widgets/utils/widgetRegistry.test.tsx
  src/components/widgets/utils/widgetRegistry.tsx
  src/types/widgets.ts
  src/utils/errorHandlers.tsx
  src/utils/widgetRegistry.test.tsx
  src/utils/widgetRegistry.tsx
Labels: none

Enhance Technical Implementation Widget tests: add verification for widget title, implementation details, and security level variations
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
Labels: none

Refactor Technical Implementation Widget tests: use more general selectors and relaxed expectations for content verification
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
Labels: none

chore(release): bump version to v0.8.5
  package-lock.json
  package.json
Labels: none

Update documentation.html
  docs/documentation.html
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

chore: update Node.js version from 20 to 22 in workflows and documentation
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/test-and-report.yml
  README.md
  package.json
Labels: none

chore: update Node.js version in workflows and documentation to align with recent changes
  docs/documentation.html
Labels: none

test: improve test assertions for CIAContentService methods and fix mock declarations
  src/services/ciaContentService.test.ts
Labels: none

fix: update getImpactColor function to accept string type and adjust getCompliantFrameworks method to pass level consistently
  .vscode/settings.json
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/services/ciaContentService.test.ts
  src/services/ciaContentService.ts
  src/services/complianceService.test.ts
Labels: none

feat: update Selection component to use string for icon prop, enhance accessibility with aria-label and data-testid, and improve information display
  docs/architecture/SWOT.md
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.test.tsx
  src/components/securitylevel/Selection.test.tsx
  src/components/securitylevel/Selection.tsx
  src/types/cia.utility.test.ts
Labels: none

fix: correct expected output for mixed security levels in calculateOverallSecurityLevel test
  src/types/cia.utility.test.ts
Labels: none

feat: add compliance types and type guards for framework compliance status and validation
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/types/compliance.d.ts
  src/types/compliance.ts
  src/utils/typeGuards.test.ts
  src/utils/typeGuards.ts
Labels: none

test: simplify tests for CIAClassificationApp and enhance compliance status validation
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/services/complianceService.test.ts
  src/utils/typeGuards.enhanced.test.ts
  src/utils/typeGuards.ts
Labels: none

refactor: simplify tests in CIAClassificationApp and complianceService, enhance structure checks, and remove duplicate type guard tests
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/hooks/useCIAOptions.enhanced.test.tsx
  src/services/complianceService.test.ts
  src/utils/typeGuards.enhanced.test.ts
Labels: core-app

test: enhance AvailabilityImpactWidget and SecurityLevelSelector tests with additional props and improved handling of unknown levels
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
Labels: none

refactor: clean up test files by removing duplicate imports and improving mock structures
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/hooks/useCIAOptions.enhanced.test.tsx
  src/services/complianceService.test.ts
Labels: core-app

feat: add risk utilities and enhance risk score calculation with improved handling of security levels
  src/utils/index.ts
  src/utils/riskUtils.test.ts
  src/utils/riskUtils.ts
Labels: none

refactor: consolidate risk level handling by utilizing utility functions and remove duplicate logic
  src/components/common/BusinessImpactSection.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/constants/riskConstants.ts
  src/services/securityMetricsService.ts
  src/types/risk.ts
  src/utils/riskUtils.ts
  src/utils/typeGuards.ts
Labels: high-coverage, component-business-impact, component-security-summary, data-model, critical-security-code, critical-business-code

feat: introduce RiskLevelBadge component for standardized risk level visualization and enhance risk utilities
  src/components/common/BusinessRiskDisplay.tsx
  src/components/common/RiskAssessment.tsx
  src/components/common/RiskLevelBadge.test.tsx
  src/components/common/RiskLevelBadge.tsx
  src/components/common/StatusBadge.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/constants/index.ts
  src/constants/riskConstants.ts
  src/utils/index.ts
  src/utils/riskUtils.ts
Labels: high-coverage, component-business-impact, component-security-summary, data-model, critical-security-code, critical-business-code

feat: enhance SecurityLevelSelector with compact mode and type-safe handlers for level changes
  src/application/CIAClassificationApp.tsx
  src/components/SecurityLevelSelector.test.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, component-security-level, critical-security-code

refactor: remove deprecated SecurityLevelSelector and update imports in SecurityLevelWidget
  src/components/SecurityLevelSelector.test.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/common/SecurityLevelSelector.tsx
  src/components/common/index.ts
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
Labels: needs-tests, component-security-level, critical-security-code

feat: enhance security level management with improved state handling and debugging, update default values to "Moderate"
  src/application/CIAClassificationApp.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/common/SecurityLevelBadge.tsx
  src/components/common/SecurityLevelSummaryItem.tsx
  src/components/dashboard/Dashboard.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/securitylevel/SecurityLevelSelector.tsx
  src/components/securitylevel/Selection.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/hoc/withSecurityLevelState.test.tsx
  src/hoc/withSecurityLevelState.tsx
  src/hooks/useSecurityLevelSync.ts
  src/services/ciaContentService.ts
  src/types/cia-services.ts
  src/utils/widgetRegistry.test.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-security-level, component-business-impact, component-security-summary, component-value-creation, core-app, critical-security-code, critical-business-code

feat: add documentation for security level standardization, outlining default values and implementation details
  docs/SECURITY_LEVEL_STANDARDIZATION.md
Labels: none

feat: enhance compliance status calculation and framework categorization, ensuring accurate compliance scores and improved data handling
  src/components/widgets/ComplianceStatusWidget.tsx
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/types/compliance.d.ts
Labels: high-coverage, component-compliance, critical-security-code

feat: improve compliance status evaluation and enhance framework compliance checks with new component-specific methods
  src/components/widgets/ComplianceStatusWidget.tsx
  src/services/complianceService.ts
Labels: high-coverage, component-compliance, critical-security-code

feat: update compliance test IDs and refactor compliance status properties for consistency
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/constants/testIds.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
Labels: high-coverage, component-compliance, data-model, critical-security-code

feat: refactor compliance service integration and enhance compliance types for improved clarity and compatibility
  src/components/widgets/ComplianceStatusWidget.tsx
  src/services/ComplianceServiceAdapter.ts
  src/services/ciaContentService.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/types/compliance-service.d.ts
  src/types/compliance.ts
  src/types/widgets.ts
  src/utils/typeGuards.ts
Labels: high-coverage, component-compliance, critical-security-code

feat: refactor app structure, enhance security level calculations, and improve localStorage handling for better performance and consistency
  src/App.tsx
  src/data/riskImpactData.test.ts
  src/data/riskImpactData.ts
  src/data/valueCreationData.ts
  src/hooks/useLocalStorage.ts
  src/types/cia.utility.ts
  src/utils/levelValuesUtils.ts
  src/utils/typeGuards.ts
  src/utils/widgetRegistry.tsx
Labels: high-coverage, core-app

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
