Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

docs: add initial documentation for CIA Compliance Manager
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/documentation.html
Labels: none

docs: update links in documentation to point to the live site and enhance architecture descriptions
  docs/README.md
  docs/documentation.html
Labels: none

docs: enhance README and documentation with version badges, table of contents, and updated links
  docs/README.md
  docs/documentation.html
Labels: none

chore: remove Dockerfile and update devcontainer configuration for improved setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  package-lock.json
Labels: none

Update README.md
  docs/README.md
Labels: none

feat: add new impact and security resources widgets with updated types and tests
  src/CIAClassificationApp.test.tsx
  src/CIAClassificationApp.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/CombinedBusinessImpactWidget.test.tsx
  src/components/widgets/CombinedBusinessImpactWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityResourcesWidget.test.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
  src/types/componentProps.ts
  src/types/index.ts
  src/types/widgets.ts
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-business-impact, core-app, data-model, critical-business-code

test: enhance widget tests with additional assertions and new type tests
  cypress/e2e/widgets/security-summary-widget.cy.ts
  src/components/Selection.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/types/widgets.test.ts
Labels: none

feat: enhance dark mode functionality with automatic detection and improved toggle behavior
  src/CIAClassificationApp.tsx
Labels: needs-tests, core-app

fix: improve security summary widget tests with enhanced element checks and proper aliasing
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
Labels: none

fix: update comments for clarity and enhance type safety in widget tests
  cypress/e2e/widget-interactions.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
Labels: none

feat: add type definitions for glob and path-scurry modules; enhance dashboard and key-value pair tests with new assertions
  cypress.config.ts
  cypress/e2e/business-outcomes/assess-security-costs.cy.ts
  cypress/e2e/business-outcomes/business-impact-details.cy.ts
  cypress/e2e/business-outcomes/review-security-impact.cy.ts
  cypress/e2e/core-behaviors/set-security-levels.cy.ts
  cypress/e2e/widget-interactions.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  cypress/support/plugins/junit-reporter.ts
  cypress/tasks/junit-reset.ts
  src/components/Dashboard.test.tsx
  src/components/common/KeyValuePair.test.tsx
  src/components/common/MetricsCard.test.tsx
  src/types/glob.d.ts
  src/utils/widgetRegistry.test.tsx
  test-results.xml
Labels: none

feat: add JUnit results reset task and backup functionality; update Cypress config for task registration
  .gitignore
  cypress.config.ts
  cypress/tasks/junit-reset.ts
  test-results.xml
Labels: none

feat: implement flexible selectors for business impact tests; add helper functions for reliable widget finding
  cypress/e2e/business-outcomes/business-impact-details.cy.ts
  cypress/e2e/business-outcomes/review-security-impact.cy.ts
  cypress/e2e/consolidated/business-impact.cy.ts
  cypress/support/constants.ts
  cypress/support/widget-finder.ts
Labels: none

feat: enhance security impact and technical implementation tests with flexible content checks and improved styling
  cypress/e2e/business-outcomes/review-security-impact.cy.ts
  cypress/e2e/widgets/technical-implementation-widget.cy.ts
  docs/apple-touch-icon.png
  docs/assets/index-B2lQrNPi.js
  docs/assets/index-B2lQrNPi.js.map
  docs/assets/index-BKSfV7dv.js
  docs/assets/index-BKSfV7dv.js.map
  docs/favicon.svg
  docs/icon-192.png
  docs/icon-512.png
  docs/index.html
Labels: none

feat: update widget components and types for improved flexibility and type safety; enhance tests for better coverage
  src/CIAClassificationApp.tsx
  src/components/RadarChart.direct.test.tsx
  src/components/RadarChart.test.tsx
  src/components/RadarChart.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.test.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/constants/testIds.ts
  src/types/cia.ts
  src/types/cia.utility.test.ts
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-radar, component-security-level, component-business-impact, component-compliance, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

feat: add ROI estimates for security measures with savings and return metrics
  src/constants/businessConstants.ts
Labels: high-coverage, data-model, critical-business-code

feat: add ROI estimates for security levels and integrate into SecuritySummaryWidget
  src/components/widgets/SecuritySummaryWidget.tsx
  src/hooks/useCIAOptions.ts
Labels: needs-tests, high-coverage, component-security-summary, core-app, critical-security-code

feat: enhance SecuritySummaryWidget with additional CIA impact sections and security level badges for improved clarity and testing
  src/components/widgets/SecuritySummaryWidget.tsx
Labels: high-coverage, component-security-summary, critical-security-code

feat: enhance widgets with additional test IDs for improved testing and accessibility
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
Labels: high-coverage, component-business-impact, component-value-creation, critical-business-code

feat: enhance TechnicalDetailsWidget and SecuritySummaryWidget with improved test IDs, ROI estimates, and key benefits display for better clarity and testing
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
Labels: high-coverage, component-security-summary, critical-security-code

feat: enhance widget test IDs and component props for improved clarity and testing
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
  src/types/componentProps.ts
  src/types/widgets.ts
  src/utils/widgetRegistry.tsx
Labels: data-model

feat: update SecuritySummaryWidget to use structured ROI estimates and improve test IDs for better clarity and testing
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/constants/appConstants.ts
  src/constants/testConstants.ts
Labels: high-coverage, component-security-summary, data-model, critical-security-code

feat: update SecuritySummaryWidget and ValueCreationWidget to improve test IDs, add security icons, and enhance ROI estimates with descriptions for better clarity and testing
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
Labels: high-coverage, component-security-summary, component-value-creation, critical-security-code, critical-business-code

feat: enhance tests and mock implementations for CIAClassificationApp, ComplianceStatusWidget, and SecuritySummaryWidget to improve clarity and reliability
  src/CIAClassificationApp.direct.test.tsx
  src/CIAClassificationApp.test.tsx
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/constants/appConstants.ts
  src/utils/widgetRegistry.tsx
Labels: high-coverage, component-compliance, component-security-summary, data-model, critical-security-code

feat: add TypeScript type definitions and utility functions for improved test support and widget structure
  README.md
  src/CIAClassificationApp.tsx
  src/components/common/WidgetBase.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/constants/appConstants.tsx
  src/constants/coreConstants.tsx
  src/constants/testIds.tsx
  src/hooks/useCIAOptions.tsx
  src/tests/mockFactory.tsx
  src/tests/testSetupHelpers.tsx
  src/types/cia.tsx
  src/types/componentProps.ts
  src/types/componentProps.tsx
  src/types/testTypes.tsx
  src/types/widgets.test.ts
  src/types/widgets.ts
  src/types/widgets.tsx
  src/utils/securityLevelUtils.ts
  src/utils/typeGuards.tsx
  src/utils/widgetHelpers.tsx
  src/utils/widgetRegistry.test.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-security-level, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

feat: refactor security level props in widgets to use consistent naming conventions for improved clarity and maintainability
  src/CIAClassificationApp.tsx
  src/components/Dashboard.tsx
  src/components/widgets/AvailabilityImpactWidget.test.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.test.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.test.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/types/widgets.test.ts
  src/types/widgets.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-dashboard, component-compliance, component-value-creation, core-app, critical-security-code, critical-business-code

feat: add SecurityLevel type and integrate it across widgets and components for improved type safety and clarity; enhance widget properties and calculations to utilize the new type
  src/CIAClassificationApp.tsx
  src/components/Dashboard.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/hooks/useCIAOptions.ts
  src/hooks/useCIAOptions.tsx
  src/services/ciaContentService.test.ts
  src/services/ciaContentService.ts
  src/types/cia.tsx
  src/types/widgets.tsx
  src/utils/typeGuards.ts
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-dashboard, component-business-impact, core-app, critical-business-code

feat: update SecuritySummaryWidgetProps to use SecurityLevel type for improved type safety; adjust component usage in CIAClassificationApp and enhance related tests for consistency
  src/CIAClassificationApp.tsx
  src/components/widgets/CostEstimationWidget.test.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/SecuritySummaryWidget.test.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/types/widgets.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-cost, component-security-summary, core-app, critical-security-code, critical-business-code

feat: update CIAClassificationApp and widget props to use SecurityLevel type for improved type safety; refactor tests for ConfidentialityImpactWidget to align with new props
  src/CIAClassificationApp.tsx
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/types/widgets.test.ts
  src/types/widgets.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, core-app

feat: update ComplianceStatusWidget and CIAClassificationApp to use SecurityLevel type for improved type safety; refactor widget registry and add compliance status calculation logic
  src/CIAClassificationApp.tsx
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/services/ciaContentService.ts
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-compliance, component-cost, core-app, critical-security-code, critical-business-code

feat: update CIAClassificationApp and widget registry to use SecurityLevel type for improved type safety; refactor CIAImpactSummaryWidget tests for consistency with new prop names
  src/CIAClassificationApp.tsx
  src/components/widgets/CIAImpactSummaryWidget.test.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/services/ciaContentService.ts
  src/utils/widgetRegistry.tsx
Labels: needs-tests, core-app

feat: refactor SecurityLevelWidgetProps to improve type safety and add optional change handlers; modify WidgetDefinition interface for better typing flexibility
  src/components/SecurityLevelSelector.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/types/widgets.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, component-security-level, critical-security-code

fix: update script source in index.html for compliance
  docs/assets/index-DCmFp_UC.js
  docs/assets/index-DCmFp_UC.js.map
  docs/index.html
Labels: none

feat: enhance widgets with improved security level handling and additional service functions; refactor components for better clarity and maintainability
  src/components/SecurityLevelSelector.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/constants/appConstants.ts
  src/constants/coreConstants.ts
  src/constants/testIds.ts
  src/services/ciaContentService.ts
Labels: needs-tests, high-coverage, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, data-model, critical-security-code, critical-business-code

feat: refactor value points and ROI estimation logic in CIA content service; streamline ValueCreationWidget to utilize service functions for improved clarity and maintainability
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/services/ciaContentService.ts
Labels: high-coverage, component-value-creation, critical-business-code

feat: extend EnhancedCIADetails interface with new fields to reduce hardcoding in ciaContentService; improve flexibility and maintainability
  src/hooks/useCIAOptions.ts
  src/services/ciaContentService.ts
Labels: needs-tests, core-app

feat: refactor CIA content service and hooks to enhance type safety and maintainability; introduce default security icons and streamline ROI metrics handling
  src/hooks/useCIAOptions.ts
  src/services/ciaContentService.test.ts
  src/services/ciaContentService.ts
  src/types/cia-services.ts
Labels: needs-tests, core-app

feat: enhance availability options with detailed recommendations and impact descriptions; add default security icon for improved clarity
  src/hooks/useCIAOptions.ts
Labels: needs-tests, core-app

feat: implement security level color constants and refactor availability, integrity, and confidentiality options to utilize dynamic color assignment for improved accessibility
  src/constants/colorConstants.ts
  src/hooks/useCIAOptions.ts
  src/utils/widgetHelpers.tsx
Labels: needs-tests, core-app, data-model

feat: enhance TechnicalDetailsWidget and ValueCreationWidget with security level type support and color utilities; refactor styles for improved consistency and accessibility
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/styles/utilities.css
  src/styles/variables.css
  src/utils/widgetHelpers.tsx
Labels: high-coverage, component-value-creation, critical-business-code

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
