Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

chore(release): deploy version v1.1.3
  docs/app-update-info.txt
  docs/assets/index-B0jr-oGa.css
  docs/assets/index-CjtRRDyU.js
  docs/assets/index-CjtRRDyU.js.map
  docs/assets/widgets-assessment-29On9S3B.js
  docs/assets/widgets-assessment-29On9S3B.js.map
  docs/assets/widgets-business-D7qMJ3X_.js
  docs/assets/widgets-business-D7qMJ3X_.js.map
  docs/assets/widgets-impact-DO1JXM6x.js
  docs/assets/widgets-impact-DO1JXM6x.js.map
  docs/assets/widgets-implementation-C_zdtplH.js
  docs/assets/widgets-implementation-C_zdtplH.js.map
  docs/assets/widgets-visualization-tL4nrDWu.js
  docs/assets/widgets-visualization-tL4nrDWu.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

refactor: standardize widget prop interfaces with improved type safety and clean API (#833)
  docs/WIDGET_PROP_STANDARDIZATION.md
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/types/widget-props.ts
Labels: none

♻️ Consolidate common widget components to reduce duplication (#834)
  src/components/common/MetricCard.test.tsx
  src/components/common/MetricCard.tsx
  src/components/common/WidgetSection.test.tsx
  src/components/common/WidgetSection.tsx
  src/components/index.ts
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/types/componentPropExports.ts
Labels: none

✅ Apply design tokens consistently across all widgets - 100% complete (#835)
  package.json
  scripts/audit-design-tokens.js
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/designTokens.test.ts
  src/constants/designTokens.ts
  tailwind.config.ts
Labels: data-model

Refactor impact widgets for better reusability with performance optimizations and comprehensive documentation (#836)
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/ImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/types/componentPropExports.ts
  src/types/widget-props.ts
Labels: none

refactor: Enhance visual consistency with TailwindCSS utility classes across all 11 widgets (#837)
  CONTRIBUTING.md
  docs/TAILWIND_REFACTORING_GUIDE.md
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/utils/index.ts
  src/utils/tailwindClassHelpers.test.ts
  src/utils/tailwindClassHelpers.ts
Labels: none

feat: Add useWidgetError hook and enhance LoadingSkeleton with widget-specific variants (#838)
  docs/WidgetErrorHandlingGuide.md
  src/components/common/LoadingSkeleton.test.tsx
  src/components/common/LoadingSkeleton.tsx
  src/hooks/index.ts
  src/hooks/useWidgetError.test.ts
  src/hooks/useWidgetError.ts
  src/types/componentPropExports.ts
Labels: core-app

feat: Standardize tab navigation patterns across widgets (#839)
  src/components/common/TabContainer.test.tsx
  src/components/common/TabContainer.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/hooks/index.ts
  src/hooks/useTabs.test.tsx
  src/hooks/useTabs.ts
  src/types/index.ts
  src/types/tabs.ts
Labels: core-app

chore(release): bump version to v1.1.4
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.4
  docs/app-update-info.txt
  docs/assets/index-BOwIYlSm.js
  docs/assets/index-BOwIYlSm.js.map
  docs/assets/widgets-assessment-KMPIY7Fx.js
  docs/assets/widgets-assessment-KMPIY7Fx.js.map
  docs/assets/widgets-business-D8jPDPVV.js
  docs/assets/widgets-business-D8jPDPVV.js.map
  docs/assets/widgets-impact-BP1Ibo3x.js
  docs/assets/widgets-impact-BP1Ibo3x.js.map
  docs/assets/widgets-implementation-TY6NUPeB.js
  docs/assets/widgets-implementation-TY6NUPeB.js.map
  docs/assets/widgets-visualization-Dk56XnlW.js
  docs/assets/widgets-visualization-Dk56XnlW.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

test: enhance E2E infrastructure, enforce widget-{name} convention, achieve 100% test constant usage, and fix E2E race conditions (#840)
  cypress/e2e/integration/all-widgets.cy.ts
  cypress/e2e/widgets/assessmentcenter/security-summary-enhanced.cy.ts
  cypress/e2e/widgets/businessvalue/cost-estimation-enhanced.cy.ts
  cypress/support/README-SELECTORS.md
  cypress/support/commands.ts
  cypress/support/selectors.ts
  docs/E2E-IMPROVEMENTS-SUMMARY.md
  docs/E2E-TESTING-GUIDE.md
  src/components/common/ErrorMessage.test.tsx
  src/components/common/ErrorToast.test.tsx
  src/components/common/MetricCard.test.tsx
  src/components/common/RiskLevelBadge.test.tsx
  src/components/common/WidgetContainer.test.tsx
  src/components/common/WidgetErrorBoundary.test.tsx
  src/components/common/WidgetSection.test.tsx
  src/components/common/__tests__/ErrorHandlingIntegration.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/testIds.ts
Labels: data-model

fix: correct E2E test selectors for WidgetContainer prefix pattern and refactored components (#841)
  cypress/e2e/integration/all-widgets.cy.ts
  cypress/e2e/widgets/assessmentcenter/security-summary-enhanced.cy.ts
  cypress/e2e/widgets/businessvalue/cost-estimation-enhanced.cy.ts
  cypress/support/selectors.ts
Labels: none

Update src/utils/testUtils.tsx
  src/utils/testUtils.tsx
Labels: none

refactor: standardize all widget test patterns with optimized utilities (100% complete - 20/20 widgets) (#842)
  WIDGET_TEST_UPDATE_GUIDE.md
  src/components/widgets/assessmentcenter/SecurityComplianceTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.test.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/tests/vitest-extensions.d.ts
  src/utils/testUtils.tsx
Labels: none

Update docs/ACCESSIBILITY_COMPLIANCE.md
  docs/ACCESSIBILITY_COMPLIANCE.md
Labels: none

Update docs/ACCESSIBILITY_COMPLIANCE.md
  docs/ACCESSIBILITY_COMPLIANCE.md
Labels: none

Update docs/ACCESSIBILITY_COMPLIANCE.md
  docs/ACCESSIBILITY_COMPLIANCE.md
Labels: none

docs: Complete ISMS compliance documentation update for v1.1.0 with improved test coverage metrics (#844)
  CRA-ASSESSMENT.md
  README.md
  SECURITY.md
  control-mapping.md
  docs/ACCESSIBILITY_COMPLIANCE.md
  docs/COMPLIANCE_EVIDENCE.md
  docs/PERFORMANCE_COMPLIANCE.md
  docs/architecture/SECURITY_ARCHITECTURE.md
Labels: none

chore(release): bump version to v1.1.5
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.5
  docs/app-update-info.txt
  docs/assets/index-C9G6Es9Y.js
  docs/assets/index-C9G6Es9Y.js.map
  docs/assets/widgets-assessment-KMPIY7Fx.js.map
  docs/assets/widgets-business-BIF6Qmi4.js
  docs/assets/widgets-business-BIF6Qmi4.js.map
  docs/assets/widgets-impact-DxCRs11W.js
  docs/assets/widgets-impact-DxCRs11W.js.map
  docs/assets/widgets-implementation-CWhhkxtz.js
  docs/assets/widgets-implementation-CWhhkxtz.js.map
  docs/assets/widgets-visualization-CpHrIVr4.js
  docs/assets/widgets-visualization-CpHrIVr4.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

Fix excessive whitespace in widgets by optimizing spacing and eliminating empty tab containers (#846)
  src/components/common/TabContainer.test.tsx
  src/components/common/TabContainer.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/utils/tailwindClassHelpers.ts
Labels: none

Revert "Fix excessive whitespace in widgets by optimizing spacing and elimina…"
  src/components/common/TabContainer.test.tsx
  src/components/common/TabContainer.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/utils/tailwindClassHelpers.ts
Labels: none

Revert "Fix excessive whitespace in widgets by optimizing spacing and elimina…" (#847)
  src/components/common/TabContainer.test.tsx
  src/components/common/TabContainer.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/utils/tailwindClassHelpers.ts
Labels: none

🎨 Redesign BusinessValue widgets - compact, responsive financial dashboards with complete screen reader optimization (#857)
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/constants/appConstants.ts
  src/constants/uiConstants.ts
Labels: high-coverage, data-model

refactor: Compact ImpactAnalysis widgets with shared type definitions (#855)
  src/components/common/BusinessImpactSection.test.tsx
  src/components/common/BusinessImpactSection.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/constants/colorConstants.ts
  src/types/componentPropExports.ts
  src/types/index.ts
  src/utils/colorUtils.ts
Labels: data-model

chore(release): bump version to v1.1.6
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v1.1.6
  docs/app-update-info.txt
  docs/assets/index-B3t3gjG2.js
  docs/assets/index-B3t3gjG2.js.map
  docs/assets/widgets-assessment-D7kXuOip.js
  docs/assets/widgets-assessment-D7kXuOip.js.map
  docs/assets/widgets-business-WMX2YomB.js
  docs/assets/widgets-business-WMX2YomB.js.map
  docs/assets/widgets-impact-BmLnqqgr.js
  docs/assets/widgets-impact-BmLnqqgr.js.map
  docs/assets/widgets-implementation-C6RscKfc.js
  docs/assets/widgets-implementation-C6RscKfc.js.map
  docs/assets/widgets-visualization-CX6JU5_H.js
  docs/assets/widgets-visualization-CX6JU5_H.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

Remove xvfb-run from test command
  .github/workflows/test-and-report.yml
Labels: none

[WIP] Update WORKFLOWS.md and FUTURE_WORKFLOWS.md for current projections (#874)
  docs/architecture/FUTURE_WORKFLOWS.md
  docs/architecture/WORKFLOWS.md
Labels: none

chore: configure CodeQL to scan only src directory and exclude docs (#875)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Labels: none

Create CNAME
  docs/CNAME
Labels: none

feat: add sitemap generation for GitHub Pages with custom domain (#877)
  docs/sitemap.html
  docs/sitemap.xml
  generate-sitemaps.js
  package.json
Labels: none

Add sitemap URL to robots.txt
  docs/robots.txt
Labels: none

indexNow
  docs/bec92709c33e4986993dfb7c7a772856.txt
Labels: none

docs: replace logo URL from ciacompliancemanager.com to hack23.com (#879)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CRA-ASSESSMENT.md
  ISMS_IMPLEMENTATION_GUIDE.md
  README.md
  SECURITY.md
  TRACEABILITY_MATRIX.md
  control-mapping.md
  cypress/test-data/app-dev.html
  docs/ACCESSIBILITY_COMPLIANCE.md
  docs/COMPLIANCE_EVIDENCE.md
  docs/E2ETestPlan.md
  docs/End-of-Life-Strategy.md
  docs/PERFORMANCE_COMPLIANCE.md
  docs/architecture/DATA_MODEL.md
  docs/architecture/MINDMAP.md
  docs/architecture/THREAT_MODEL.md
  docs/architecture/WORKFLOWS.md
  docs/documentation.html
  docs/performance-testing.md
Labels: none

chore(release): bump version to v01.1.7
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v01.1.7
  docs/app-update-info.txt
  docs/assets/index-BksXNEaW.js
  docs/assets/index-BksXNEaW.js.map
  docs/index.html
  docs/robots.txt
  docs/stats.html
  docs/version.txt
Labels: none

refactor: standardize CSS with design tokens, validate design system, and fix type reusability (#892)
  src/components/common/BusinessImpactSection.tsx
  src/components/common/ErrorMessage.tsx
  src/components/common/KeyboardShortcutHelp.tsx
  src/components/common/MetricCard.tsx
  src/components/common/ResourceCard.tsx
  src/components/common/SecurityLevelBadge.tsx
  src/components/common/SecurityLevelIndicator.tsx
  src/components/common/StatusBadge.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecurityOverviewTab.tsx
  src/components/widgets/impactanalysis/ImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/ImplementationGuidancePanel.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/constants/riskConstants.ts
  src/constants/securityLevels.ts
  src/utils/ciaColorUtils.ts
  src/utils/colorUtils.test.ts
  src/utils/colorUtils.ts
  src/utils/securityLevelUtils.ts
  src/utils/tailwindClassHelpers.ts
Labels: high-coverage, data-model, critical-security-code

chore(release): bump version to v1.1.8
  package-lock.json
  package.json
Labels: none

chore(release): bump version to v1.1.9
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
