Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

feat: update risk impact data recovery times, enhance localStorage handling, and improve widget security level extraction for consistency
  src/App.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/constants/testIds.ts
  src/data/riskImpactData.test.ts
  src/data/riskImpactData.ts
  src/data/valueCreationData.test.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
  src/types/cia.test.ts
  src/types/cia.utility.ts
  src/utils/levelValuesUtils.test.ts
  src/utils/typeGuards.ts
  src/utils/widgetRegistry.test.tsx
  src/utils/widgetRegistry.tsx
Labels: core-app, data-model

feat: enhance overall security level calculation logic and improve type guard utilities for better validation
  src/types/cia.utility.test.ts
  src/types/cia.utility.ts
  src/utils/typeGuards.test.ts
  src/utils/typeGuards.ts
Labels: none

feat: add custom rendering utility and mock security levels for improved testing; enhance widget type definitions and grid layout styles
  src/components/common/WidgetBase.test.tsx
  src/components/common/WidgetBase.tsx
  src/styles/gridStyles.ts
  src/types/risk.ts
  src/types/widget.ts
  src/utils/colorUtils.ts
  src/utils/formatUtils.ts
  src/utils/index.ts
  src/utils/levelValuesUtils.ts
  src/utils/riskUtils.ts
  src/utils/securityLevelUtils.ts
  src/utils/test-utils.test.tsx
  src/utils/test-utils.tsx
  src/utils/testUtilsFactory.ts
  src/utils/typeGuards.ts
  src/utils/widgetHelpers.test.tsx
  src/utils/widgetHelpers.tsx
Labels: none

feat: enhance business constants and risk level parsing; improve cost-related constants for security assessments
  src/components/common/StatusBadge.tsx
  src/components/common/WidgetContainer.test.tsx
  src/components/common/WidgetContainer.tsx
  src/components/securitylevel/SecurityLevelSelector.test.tsx
  src/components/securitylevel/Selection.test.tsx
  src/constants/businessConstants.ts
  src/constants/complianceConstants.ts
  src/constants/costConstants.ts
  src/constants/index.ts
  src/constants/riskConstants.ts
  src/hooks/useCIAOptions.enhanced.test.tsx
  src/types/businessImpact.test.ts
  src/types/businessImpact.ts
  src/utils/formatUtils.test.ts
  src/utils/formatUtils.ts
  src/utils/riskUtils.test.ts
  src/utils/typeGuards.ts
Labels: high-coverage, core-app, data-model, critical-security-code, critical-business-code

feat: refactor widget imports for consistency; add default data provider and business impact types for enhanced analysis
  src/components/index.ts
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/index.ts
  src/services/BaseService.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/ciaContentService.test.ts
  src/services/ciaContentService.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/services/index.ts
  src/services/securityMetricsService.test.ts
  src/services/securityMetricsService.ts
  src/services/securityResourceService.test.ts
  src/services/securityResourceService.ts
  src/services/technicalImplementationService.test.ts
  src/services/technicalImplementationService.ts
  src/types/impact.ts
  src/utils/defaultDataProvider.ts
  src/utils/formatUtils.ts
  src/utils/serviceTestUtils.ts
  src/utils/widgetRegistry.tsx
Labels: high-coverage, component-compliance, critical-security-code

feat: refactor test setup for CIAContentService; improve mock implementation and organization of imports
  src/services/ciaContentService.test.ts
Labels: none

feat: enhance documentation navigation links; add GitHub and documentation links to typedoc configurations
  package.json
  src/components/charts/SecurityRiskScore.tsx
  src/components/common/SecurityLevelBadge.tsx
  src/components/common/__tests__/SecurityLevelBadge.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/widgets/AvailabilityImpactWidget.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/ConfidentialityImpactWidget.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecuritySummaryWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/contexts/SecurityLevelContext.tsx
  src/contexts/__tests__/SecurityLevelContext.test.tsx
  src/hoc/__tests__/withSecurityLevelState.test.tsx
  src/hoc/withSecurityLevelState.tsx
  src/hooks/__tests__/useSecurityLevelSync.test.tsx
  src/hooks/useSecurityLevelState.ts
  src/hooks/useSecurityLevelSync.ts
  src/performance/SecurityLevelChangeTracker.tsx
  src/test/securityLevelTestUtils.ts
  src/tests/integration/SecurityLevelPropagation.test.tsx
  src/types/widget-props.ts
  src/types/widgets.ts
  src/utils/__tests__/securityLevelUtils.test.ts
  src/utils/securityLevelUtils.ts
  src/utils/widgetRegistry.tsx
  typedoc.enhanced.json
  typedoc.markdown.json
  typedoc.types.json
  typedoc.uml.json
Labels: needs-tests, high-coverage, component-security-level, component-compliance, component-security-summary, core-app, critical-security-code

feat: add security level architecture and widget development documentation; standardize security level handling and implementation patterns
  docs/SECURITY_LEVEL_ARCHITECTURE.md
  docs/SECURITY_LEVEL_STANDARDIZATION.md
  docs/WIDGET_DEVELOPMENT.md
Labels: none

fix: improve type handling and error management in Cypress tests; enhance command definitions and assertions for better reliability
  cypress/e2e/business-outcomes/compliance-validation.cy.ts
  cypress/e2e/screenshots/widget-screenshots.cy.ts
  cypress/e2e/security/security-level-transitions.cy.ts
  cypress/e2e/widgets/cia-impact-widgets.cy.ts
  cypress/support/commands.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/enhanced-commands.ts
  cypress/tsconfig.json
Labels: none

feat: enhance compliance validation tests; expand expected status patterns and improve error handling for better reliability
  cypress/e2e/business-outcomes/compliance-validation.cy.ts
Labels: none

feat: integrate security level state management into dashboard and widget components; enhance prop handling for improved security level propagation
  src/CIAClassificationApp.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardWidget.tsx
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityResourcesWidget.test.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/ValueCreationWidget.test.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/hoc/withSecurityLevelState.tsx
  src/hooks/useLocalStorage.ts
  src/hooks/useSecurityLevelSync.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, high-coverage, component-security-level, component-business-impact, component-compliance, component-cost, component-value-creation, core-app, critical-security-code, critical-business-code

refactor: remove unused dashboard components and tests; streamline component exports for better maintainability
  src/CIAClassificationApp.tsx
  src/application/CIAClassificationApp.tsx
  src/components/dashboard/Dashboard.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/DashboardWidget.tsx
  src/components/dashboard/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
  src/utils/widgetRegistry.enhanced.test.tsx
  src/utils/widgetRegistry.test.tsx
  src/utils/widgetRegistry.tsx
Labels: needs-tests, core-app

refactor: remove CIAImpactSummaryWidget and update styles for improved dark mode support; enhance grid layout and text visibility
  src/CIAClassificationApp.tsx
  src/application/CIAClassificationApp.tsx
  src/components/index.ts
  src/components/widgets/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/CIAImpactSummaryWidget.test.tsx
  src/components/widgets/CIAImpactSummaryWidget.tsx
  src/components/widgets/index.ts
  src/styles/components.css
  src/styles/dark-theme.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/utilities.css
  src/styles/variables.css
Labels: needs-tests, high-coverage, component-business-impact, core-app, critical-business-code

refactor: standardize widget sizes and improve grid layout for consistent display; enhance responsive design for better usability
  src/CIAClassificationApp.tsx
  src/components/common/WidgetBase.test.tsx
  src/components/common/WidgetBase.tsx
  src/styles/components.css
  src/styles/dark-theme.css
  src/styles/layout.css
  src/styles/theme.css
  src/styles/utilities.css
Labels: needs-tests, core-app

refactor: update widget imports for consistency; add constants for compliance status and improve component documentation
  src/components/common/CodeBlock.tsx
  src/components/common/KeyValuePair.tsx
  src/components/common/MetricsCard.tsx
  src/components/common/SecurityLevelBadge.tsx
  src/components/common/StatusBadge.tsx
  src/components/common/Tab.tsx
  src/components/common/Tooltip.tsx
  src/components/common/WidgetActions.tsx
  src/components/common/WidgetHeader.tsx
  src/components/index.ts
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/components/widgets/ComplianceStatusWidget.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/components/widgets/SecurityResourcesWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/TechnicalDetailsWidget.tsx
  src/components/widgets/ValueCreationWidget.tsx
  src/components/widgets/constants.ts
  src/components/widgets/index.ts
  src/utils/riskUtils.test.ts
  src/utils/riskUtils.ts
Labels: needs-tests, high-coverage, component-compliance, component-cost, component-value-creation, critical-security-code, critical-business-code

refactor: update StatusBadge component for improved styling and consistency; enhance utility exports to avoid name collisions
  src/components/common/StatusBadge.test.tsx
  src/components/widgets/CostEstimationWidget.tsx
  src/utils/index.ts
  src/utils/riskUtils.ts
Labels: needs-tests, component-cost, critical-business-code

refactor: enhance grid layout and widget styling for improved responsiveness and dark mode support; add utility classes for layout fixes
  cypress/test-data/current.html
  src/application/CIAClassificationApp.tsx
  src/index.css
  src/styles/components.css
  src/styles/layout.css
  src/styles/optimizations.css
  src/styles/theme.css
  src/styles/utilities.css
Labels: none

refactor: add utility functions for security level handling and testing; create mock data for improved test coverage
  src/components/common/__tests__/SecurityLevelBadge.test.tsx
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.test.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/tests/mockData.ts
  src/utils/riskUtils.ts
  src/utils/securityLevelUtils.ts
  src/utils/test-utils.test.tsx
  src/utils/test-utils.ts
  src/utils/typeGuards.ts
  src/utils/widgetHelpers.test.tsx
  src/utils/widgetHelpers.ts
Labels: none

refactor: update risk score calculation for direct mapping; enhance error handling in widget utilities; improve mock data structure for testing consistency
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.direct.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/application/CIAClassificationApp.test.tsx
  src/components/common/__tests__/SecurityLevelBadge.test.tsx
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.test.tsx
  src/components/securitylevel/Selection.test.tsx
  src/components/securitylevel/Selection.tsx
  src/tests/integration/SecurityLevelPropagation.test.tsx
  src/tests/mockData.ts
  src/utils/riskUtils.ts
  src/utils/widgetHelpers.ts
Labels: none

refactor: enhance mock data structure and testing utilities; improve test reliability with act() and reset mocks
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/services/ciaContentService.test.ts
  src/services/complianceService.test.ts
  src/services/securityMetricsService.test.ts
  src/services/securityResourceService.test.ts
  src/services/technicalImplementationService.test.ts
  src/tests/mockData.ts
Labels: none

refactor: standardize mock data structure for security resources; improve test setup and organization
  src/services/ciaContentService.test.ts
  src/services/complianceService.test.ts
  src/services/securityResourceService.test.ts
Labels: none

refactor: update test scripts for improved coverage and reporting; enhance mock data structure for consistency in tests
  package.json
  src/services/securityMetricsService.test.ts
  src/services/securityResourceService.test.ts
  src/services/technicalImplementationService.test.ts
  src/tests/testMocks/ciaOptionsMocks.test.ts
  src/tests/testMocks/ciaOptionsMocks.ts
  src/tests/testUtils/serviceTestUtils.ts
Labels: none

refactor: streamline test setup by organizing mock data and improving mock usage; add standardized mock types for security levels and ROI estimates
  src/services/ciaContentService.test.ts
  src/services/technicalImplementationService.test.ts
  src/tests/testMocks/mockTypes.ts
Labels: none

refactor: simplify security icon retrieval and enhance mock data structure for testing consistency
  src/services/technicalImplementationService.test.ts
  src/utils/serviceTestUtils.ts
Labels: none

refactor: improve test utilities and mock structures for enhanced reliability and consistency
  src/services/ciaContentService.ts
  src/services/securityMetricsService.test.ts
  src/services/technicalImplementationService.test.ts
  src/services/technicalImplementationService.ts
  src/tests/testMocks/ciaOptionsMocks.test.ts
  src/tests/testMocks/ciaOptionsMocks.ts
  src/tests/testMocks/mockTypes.test.ts
  src/tests/testUtils/hookTestUtils.tsx
  src/tests/testUtils/mockFactory.test.ts
  src/tests/testUtils/mockFactory.ts
  src/utils/serviceTestUtils.test.ts
  src/utils/serviceTestUtils.ts
Labels: none

refactor: update compliance service tests for improved accuracy and consistency; adjust expectations for compliance status and framework retrieval
  package-lock.json
  package.json
  src/services/complianceService.test.ts
  src/services/technicalImplementationService.test.ts
Labels: none

refactor: enhance test coverage and consistency by reorganizing mock data and improving test utilities
  docs/architecture/BCPPlan.md
Labels: none

refactor: enhance test organization and improve mock data structures for better reliability and consistency
  docs/architecture/BusinessContinuityPlan.md
Labels: none

refactor: streamline test setup and enhance mock data for improved reliability and consistency
  docs/architecture/BCPPlan.md
Labels: none

docs: add business continuity section with interactive and markdown plan links
  docs/business-continuity.html
  docs/documentation.html
Labels: none

refactor: update compliance service tests to reflect accurate framework compliance statuses
  docs/coverage/src/components/common/WidgetBase.tsx.html
  docs/coverage/src/components/dashboard/index.html
  docs/coverage/src/components/dashboard/index.ts.html
  docs/coverage/src/utils/widgetRegistry.tsx.html
  src/services/ComplianceServiceAdapter.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
Labels: none

refactor: consolidate test utilities and deprecate legacy components for improved organization
  src/CIAClassificationApp.tsx
  src/components/SecurityLevelSelector.tsx
  src/components/ThemeToggle.tsx
  src/hooks/__tests__/useSecurityLevelSync.test.tsx
  src/hooks/useSecurityLevelSync.test.tsx
  src/hooks/useSecurityLevelSync.ts
  src/hooks/useSecurityLevelSync.tsx
  src/test/index.ts
  src/tests/testUtils/testData.ts
  src/tests/utils/README.md
  src/tests/utils/chart.ts
  src/tests/utils/component.ts
  src/tests/utils/dom.ts
  src/tests/utils/index.ts
  src/tests/utils/mock.ts
  src/tests/utils/render.tsx
  src/tests/utils/security.ts
  src/types/componentProps.ts
  src/types/testTypes.ts
  src/types/testTypes.tsx
Labels: needs-tests, core-app

refactor: remove deprecated CIAClassificationApp file and redirect to updated version
  src/CIAClassificationApp.tsx
Labels: needs-tests, core-app

refactor: reorganize utility function exports for improved accessibility and maintainability
  src/components/widgets/CostEstimationWidget.tsx
  src/utils/costCalculationUtils.ts
  src/utils/index.ts
  src/utils/widgetHelpers.tsx
Labels: needs-tests, component-cost, critical-business-code

refactor: streamline test utilities by removing duplicates and enhancing imports for better organization
  src/components/common/StatusBadge.tsx
  src/tests/utils/component.ts
  src/tests/utils/dom.ts
  src/tests/utils/mock.ts
  src/tests/utils/render.tsx
  src/tests/utils/security.ts
  src/utils/widgetHelpers.tsx
Labels: none

refactor: remove legacy test utilities and update imports for improved organization
  src/services/ciaContentService.test.ts
  src/services/complianceService.test.ts
  src/test/index.ts
  src/test/securityLevelTestUtils.ts
  src/tests/utils/index.ts
  src/tests/utils/mock.ts
  src/utils/errorHandlers.tsx
  src/utils/serviceTestUtils.test.ts
  src/utils/serviceTestUtils.ts
  src/utils/test-helpers.test.ts
  src/utils/test-helpers.ts
  src/utils/test-utils.test.tsx
  src/utils/test-utils.ts
  src/utils/test-utils.tsx
  src/utils/testUtilsFactory.ts
  src/utils/widgetHelpers.tsx
Labels: none

refactor: enhance localStorage mock and improve service exports for better organization
  src/components/widgets/ComplianceStatusWidget.test.tsx
  src/services/BaseService.test.ts
  src/services/ComplianceServiceAdapter.ts
  src/services/businessImpactService.test.ts
  src/services/complianceService.test.ts
  src/services/complianceService.ts
  src/services/index.ts
  src/services/securityMetricsService.test.ts
  src/services/securityMetricsService.ts
  src/services/securityResourceService.test.ts
  src/services/technicalImplementationService.test.ts
  src/services/technicalImplementationService.ts
  src/tests/integration/SecurityLevelPropagation.test.tsx
  src/tests/vitest-extensions.d.ts
  src/tests/vitest-setup.ts
  src/types/cia-services.ts
Labels: none

refactor: improve logger utility with method chaining and add type guards for better type validation
  src/services/ciaContentService.ts
  src/services/technicalImplementationService.test.ts
  src/services/technicalImplementationService.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  src/utils/securityLevelUtils.test.ts
  src/utils/typeGuards.test.ts
  src/utils/typeGuards.ts
Labels: none

refactor: reorganize widget exports by category for improved structure and maintainability
  src/application/CIAClassificationApp.tsx
  src/components/index.ts
  src/components/widgets/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/IntegrityImpactWidget.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.test.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.test.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.test.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.test.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/ComplianceStatusWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.test.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.enhanced.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.test.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.test.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
  src/components/widgets/index.ts
Labels: none

refactor: update test:core script to exclude all widget test files for improved coverage accuracy
  package.json
Labels: none

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"
