Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"

chore(release): bump version to v0.8.40
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v0.8.40
  docs/app-update-info.txt
  docs/assets/index-CACkIfiw.js
  docs/assets/index-CACkIfiw.js.map
  docs/index.html
  docs/version.txt
Labels: none

chore: remove unused Cypress exports and dead code (#646)
  cypress/support/command-registry.ts
  cypress/support/constants.ts
  cypress/support/debug-helpers.ts
  cypress/support/screenshot-analysis.ts
  cypress/support/screenshot-utils.ts
  cypress/support/test-styles.ts
Labels: none

chore: Remove 33 unused exports and duplicate exports for v1.0 cleanup (#647)
  cypress/support/debug-helpers.ts
  cypress/support/screenshot-utils.ts
  cypress/support/test-styles.ts
  src/components/common/WidgetContainer.tsx
  src/constants/appConstants.ts
  src/data/ciaOptionsData.ts
  src/hooks/index.ts
  src/hooks/useCIAContentService.ts
  src/hooks/useCIAOptions.ts
  src/hooks/useComplianceService.ts
  src/hooks/useSecurityMetricsService.ts
  src/services/complianceTestHelpers.ts
  src/tests/testUtils/hookTestUtils.tsx
  src/tests/testUtils/mockFactory.ts
  src/tests/testUtils/serviceTestUtils.ts
  src/tests/utils/component.ts
  src/tests/utils/dom.ts
  src/tests/utils/index.ts
  src/tests/utils/mock.ts
  src/utils/api.ts
Labels: needs-tests, core-app, data-model

refactor: replace `any` types with proper TypeScript types for strict type safety (#648)
  src/types/cia-services.ts
  src/utils/typeGuards.ts
Labels: none

docs: add comprehensive JSDoc documentation for component props, hooks, and utilities (#649)
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/hooks/useCIAContentService.ts
  src/hooks/useCIAOptions.ts
  src/services/securityMetricsService.ts
  src/types/cia.ts
  src/types/widget-props.ts
  src/utils/formatUtils.ts
  src/utils/securityLevelUtils.ts
Labels: needs-tests, core-app

refactor: improve data layer type safety with strict interfaces and validation (#654)
  src/data/riskImpactData.test.ts
  src/data/riskImpactData.ts
Labels: none

test: add comprehensive widget tests to achieve 80% coverage (ISMS compliance) (#665)
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.test.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.test.tsx
Labels: none

refactor: standardize widget prop interfaces for type safety and consistency (#666)
  docs/WIDGET_PROP_STANDARDIZATION.md
  src/types/componentPropExports.ts
  src/types/widget-props.ts
Labels: none

refactor: extract duplicate widget logic into reusable custom hooks (#667)
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/hooks/index.ts
  src/hooks/useBusinessImpact.test.ts
  src/hooks/useBusinessImpact.ts
  src/hooks/useComponentDetails.test.ts
  src/hooks/useComponentDetails.ts
  src/hooks/useFormattedMetrics.test.ts
  src/hooks/useFormattedMetrics.ts
  src/hooks/useResponsiveBreakpoint.test.ts
  src/hooks/useResponsiveBreakpoint.ts
Labels: core-app

refactor: Extract common widget patterns into reusable React hooks (#668)
  src/application/CIAClassificationApp.tsx
  src/hooks/README.md
  src/hooks/index.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useSecurityLevelState.test.ts
  src/hooks/useSecurityLevelState.ts
  src/hooks/useServiceData.test.ts
  src/hooks/useServiceData.ts
Labels: core-app

perf: optimize GitHub Actions caching strategy for faster builds (#669)
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release.yml
  .github/workflows/test-and-report.yml
Labels: none

chore(release): bump version to v0.9.0
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v0.9.0
  docs/app-update-info.txt
  docs/assets/index-BH7Coxyk.js
  docs/assets/index-BH7Coxyk.js.map
  docs/index.html
  docs/version.txt
Labels: none

feat: implement mobile-first responsive design across all widgets (#670)
  src/components/common/WidgetContainer.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityBusinessTab.tsx
  src/components/widgets/assessmentcenter/SecurityComplianceTab.tsx
  src/components/widgets/assessmentcenter/SecurityImplementationTab.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/CIAComponentDetails.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
Labels: none

feat: add comprehensive error handling with production integration for all widgets (#671)
  docs/ERROR_HANDLING.md
  docs/IMPLEMENTATION_SUMMARY.md
  src/application/CIAClassificationApp.tsx
  src/components/common/ErrorMessage.test.tsx
  src/components/common/ErrorMessage.tsx
  src/components/common/LoadingSkeleton.test.tsx
  src/components/common/LoadingSkeleton.tsx
  src/components/common/LoadingSpinner.test.tsx
  src/components/common/LoadingSpinner.tsx
  src/components/common/WidgetErrorBoundary.test.tsx
  src/components/common/WidgetErrorBoundary.tsx
  src/components/common/__tests__/ErrorHandlingIntegration.test.tsx
  src/components/index.ts
  src/types/componentPropExports.ts
Labels: none

test: Add branch coverage tests for constants files (94.73% coverage achieved) (#672)
  src/constants/appConstants.test.ts
  src/constants/businessConstants.test.ts
  src/constants/costConstants.test.ts
  src/constants/riskConstants.test.ts
  src/constants/securityLevels.test.ts
  src/constants/uiConstants.test.ts
Labels: data-model

chore(release): bump version to v0.9.1
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v0.9.1
  docs/app-update-info.txt
  docs/assets/index-B3Ft_zd3.js
  docs/assets/index-B3Ft_zd3.js.map
  docs/index.html
  docs/version.txt
Labels: none

test: increase branch coverage from 74.86% to 75.39% (#690)
  docs/UnitTestPlan.md
  src/utils/errorUtils.test.ts
  src/utils/resourceUtils.test.ts
  src/utils/statusUtils.test.ts
  vite.config.ts
Labels: none

test: add E2E tests for security assessment flow with improved test patterns (#691)
  .gitignore
  cypress/e2e/security-assessment-flow.cy.ts
  docs/E2ETestPlan.md
Labels: none

docs: add Cypress 15.x migration guide to E2ETestPlan.md (#692)
  docs/E2ETestPlan.md
Labels: none

Potential fix for pull request finding 'Unused variable, import, function or class'
  src/types/widgets.ts
Labels: none

refactor: remove deprecated widget prop types, eliminate all deprecated code, and consolidate BaseWidgetProps for v1.0 (#693)
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.test.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/data/ciaOptionsData.test.ts
  src/data/ciaOptionsData.ts
  src/data/dataExports.test.ts
  src/types/cia-services.test.ts
  src/types/cia-services.ts
  src/types/index.ts
  src/types/widget-props.ts
  src/types/widgets.test.ts
  src/types/widgets.ts
  src/utils/businessValueUtils.comprehensive.test.ts
  src/utils/businessValueUtils.ts
  src/utils/index.test.ts
  src/utils/index.ts
  src/utils/riskUtils.ts
Labels: none

Implement React 19.x error boundaries for all widget components (#696)
  src/components/widgets/__tests__/widget-error-boundaries.test.tsx
  src/components/widgets/assessmentcenter/BusinessImpactAnalysisWidget.tsx
  src/components/widgets/assessmentcenter/SecurityLevelWidget.tsx
  src/components/widgets/assessmentcenter/SecuritySummaryWidget.tsx
  src/components/widgets/businessvalue/ComplianceStatusWidget.tsx
  src/components/widgets/businessvalue/CostEstimationWidget.tsx
  src/components/widgets/businessvalue/ValueCreationWidget.tsx
  src/components/widgets/impactanalysis/AvailabilityImpactWidget.tsx
  src/components/widgets/impactanalysis/ConfidentialityImpactWidget.tsx
  src/components/widgets/impactanalysis/IntegrityImpactWidget.tsx
  src/components/widgets/implementationguide/SecurityResourcesWidget.tsx
  src/components/widgets/implementationguide/SecurityVisualizationWidget.tsx
  src/components/widgets/implementationguide/TechnicalDetailsWidget.tsx
Labels: none

Add E2E tests and documentation for security headers (#697)
  cypress/e2e/security/security-headers.cy.ts
  cypress/support/constants.ts
  docs/security-headers.md
Labels: none

Optimize bundle size from 188KB to 117KB (gzip) via code splitting and lazy loading (#698)
  budget.json
  docs/bundle-optimization.md
  package-lock.json
  package.json
  src/App.css
  src/application/CIAClassificationApp.tsx
  src/components/charts/RadarChart.comprehensive.test.tsx
  src/components/charts/RadarChart.enhanced.test.tsx
  src/components/charts/RadarChart.extended.test.tsx
  src/components/charts/RadarChart.tsx
  vite.config.ts
Labels: none

chore(release): bump version to v0.9.2
  package-lock.json
  package.json
Labels: none

chore(release): deploy version v0.9.2
  docs/app-update-info.txt
  docs/assets/SecurityVisualizationWidget-Cr3QDHkt.js
  docs/assets/SecurityVisualizationWidget-Cr3QDHkt.js.map
  docs/assets/chart-D_MT0XO1.js
  docs/assets/chart-D_MT0XO1.js.map
  docs/assets/index-B3Ybl7P6.css
  docs/assets/index-D4CDDWWH.js
  docs/assets/index-D4CDDWWH.js.map
  docs/assets/react-vendor-DYnYXy5G.js
  docs/assets/react-vendor-DYnYXy5G.js.map
  docs/index.html
  docs/stats.html
  docs/version.txt
Labels: none

docs: update ARCHITECTURE.md to reflect v0.8.x → v1.0 changes with current coverage metrics (#712)
  docs/architecture/ARCHITECTURE.md
Labels: none

docs: update DATA_MODEL.md with v1.0 type definitions and widget props (#713)
  docs/architecture/DATA_MODEL.md
  docs/architecture/DATA_MODEL_old.md
Labels: none

docs: update MINDMAP.md with v1.0 component relationships and architecture (#714)
  docs/architecture/MINDMAP.md
Labels: none

docs: Update STATEDIAGRAM.md with v1.0 state transitions and fix documentation accuracy (#715)
  docs/architecture/STATEDIAGRAM.md
Labels: none

docs: update FLOWCHART.md with v1.0 assessment workflows and processes (#716)
  docs/architecture/FLOWCHART.md
Labels: none

docs: Update security documentation for v1.0 with React 19.x, Cypress 15.x, SLSA Level 3, CSP, and strategic analysis (#717)
  docs/architecture/SECURITY_ARCHITECTURE.md
  docs/architecture/SWOT.md
  docs/architecture/THREAT_MODEL.md
  docs/architecture/WORKFLOWS.md
Labels: none

docs: Update FUTURE_ARCHITECTURE.md with AWS serverless evolution roadmap from v1.0 baseline (#718)
  docs/architecture/FUTURE_ARCHITECTURE.md
Labels: none

docs: update FUTURE_DATA_MODEL.md with v1.0 baseline and AWS serverless persistence architecture (#719)
  docs/architecture/FUTURE_DATA_MODEL.md
Labels: none

Update FUTURE_FLOWCHART.md with ML-enhanced compliance workflows (#720)
  docs/architecture/FUTURE_FLOWCHART.md
Labels: none

docs: update FUTURE_STATEDIAGRAM.md with context-aware state management vision (#721)
  docs/architecture/FUTURE_SECURITY_ARCHITECTURE.md
  docs/architecture/FUTURE_STATEDIAGRAM.md
  docs/architecture/FUTURE_SWOT.md
  docs/architecture/FUTURE_WORKFLOWS.md
Labels: none

Update version badge in README.md
  README.md
Labels: none
