Repository Hack23/cia-compliance-manager, changes with the labels that .github/labeler.yml gives for each.
All labels: needs-tests, high-coverage, component-radar, component-dashboard, component-security-level, component-business-impact, component-compliance, component-cost, component-security-summary, component-value-creation, core-app, data-model, critical-security-code, critical-business-code

.github/labeler.yml:

# Label definitions aligned with PR template and release notes

# 🚀 Features and Enhancements
feature:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/feature/**"
              - "src/**/feat/**"
      - title: "feat:*"
      - title: "feature:*"
      - title: "add:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

enhancement:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/enhance/**"
              - "src/**/improvement/**"
      - title: "enhance:*"
      - title: "improvement:*"
      - body: "- [x] 🚀 New Feature/Enhancement"

# 🐛 Bug Fixes
bug:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/fix/**"
              - "src/**/bug/**"
      - title: "fix:*"
      - title: "bug:*"
      - body: "- [x] 🐛 Bug Fix"

# 📈 Analytics and Visualization
analytics:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/analytics/**"
              - "src/**/stats/**"
              - "src/**/metrics/**"
      - title: "analytics:*"
      - body: "- [x] 📈 Analytics & Visualization"

visualization:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/charts/**"
              - "src/**/visualization/**"
              - "src/**/graph/**"
              - "src/**/dashboard/**"
      - title: "visualization:*"
      - title: "chart:*"
      - body: "- [x] 📈 Analytics & Visualization"

# 🎨 UI/UX Improvements
ui:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/components/**"
              - "src/**/ui/**"
              - "src/**/*.css"
              - "src/**/*.scss"
              - "src/**/*.less"
              - "src/**/*.styles.*"
              - "src/**/theme/**"
              - "public/**/*.svg"
              - "public/**/*.png"
              - "public/**/*.jpg"
      - title: "ui:*"
      - title: "style:*"
      - title: "design:*"
      - body: "- [x] 🎨 UI/UX Improvements"

# 🏗️ Infrastructure & Performance
infrastructure:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - ".github/**"
              - "configs/**"
              - "scripts/**"
              - "docker/**"
              - "**/*.json"
              - "**/vite.config.*"
              - "**/tsconfig.json"
              - ".env*"
      - title: "infra:*"
      - title: "ci:*"
      - title: "cd:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

performance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/perf/**"
              - "src/**/performance/**"
              - "src/**/optimize/**"
      - title: "perf:*"
      - title: "optimize:*"
      - body: "- [x] 🏗️ Infrastructure & Performance"

# 🔄 Code Quality & Refactoring
refactor:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/refactor/**"
      - title: "refactor:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

testing:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/*.test.*"
              - "src/**/*.spec.*"
              - "cypress/**"
              - "test/**"
              - "__tests__/**"
              - "src/**/__tests__/**"
              - "src/**/*.cy.*"
      - title: "test:*"
      - body: "- [x] 🔄 Code Quality & Refactoring"

# 🔒 Security & Compliance
security:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/security/**"
              - "src/**/auth/**"
              - "src/**/compliance/**"
              - ".github/workflows/codeql.yml"
              - ".github/workflows/scorecards.yml"
              - "security/**"
      - title: "security:*"
      - title: "auth:*"
      - title: "fix-vuln:*"
      - body: "- [x] 🔒 Security & Compliance"

compliance:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/**/compliance/**"
              - "src/**/cia/**"
              - "src/**/audit/**"
              - "src/**/report/**"
      - title: "compliance:*"
      - title: "audit:*"
      - body: "- [x] 🔒 Security & Compliance"

# 📝 Documentation
documentation:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.md"
              - "docs/**"
              - "LICENSE"
              - "**/*.mdx"
      - title: "docs:*"
      - title: "doc:*"
      - body: "- [x] 📝 Documentation"

# 📦 Dependencies
dependencies:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "package.json"
              - "package-lock.json"
              - "yarn.lock"
              - "pnpm-lock.yaml"
      - title: "build(deps):*"
      - title: "deps:*"
      - title: "dependency:*"
      - title: "dependencies:*"
      - body: "- [x] 📦 Dependencies Update"

# Coverage-driven labels (based on test coverage report)
needs-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/RadarChart.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/hooks/useCIAOptions.ts"
          - "src/CIAClassificationApp.tsx"

high-coverage:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/components/Dashboard.tsx"
          - "src/components/Selection.tsx"
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"
          - "src/constants/riskConstants.ts"
          - "src/constants/uiConstants.ts"

# Component-specific labels for targeted reviews
component-radar:
  - changed-files:
      - any-glob-to-any-file: "src/components/RadarChart.tsx"

component-dashboard:
  - changed-files:
      - any-glob-to-any-file: "src/components/Dashboard.tsx"

component-security-level:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecurityLevelWidget.tsx"

component-business-impact:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/BusinessImpactAnalysisWidget.tsx"

component-compliance:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ComplianceStatusWidget.tsx"

component-cost:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/CostEstimationWidget.tsx"

component-security-summary:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/SecuritySummaryWidget.tsx"

component-value-creation:
  - changed-files:
      - any-glob-to-any-file: "src/components/widgets/ValueCreationWidget.tsx"

# Core application logic
core-app:
  - changed-files:
      - any-glob-to-any-file:
          - "src/App.tsx"
          - "src/CIAClassificationApp.tsx"
          - "src/hooks/**"

# Data and constants
data-model:
  - changed-files:
      - any-glob-to-any-file: "src/constants/**"

# Risk-based labels (critical code paths)
critical-security-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/SecurityLevelWidget.tsx"
          - "src/components/widgets/ComplianceStatusWidget.tsx"
          - "src/components/widgets/SecuritySummaryWidget.tsx"
          - "src/constants/riskConstants.ts"

critical-business-code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/widgets/BusinessImpactAnalysisWidget.tsx"
          - "src/components/widgets/CostEstimationWidget.tsx"
          - "src/components/widgets/ValueCreationWidget.tsx"
          - "src/constants/businessConstants.ts"

test-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "**/*.test.{ts,tsx}"
              - "**/__tests__/**"

branches-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/CIAClassificationApp.tsx"
              - "src/components/RadarChart.tsx"
              - "src/components/widgets/SecurityLevelWidget.tsx"

function-coverage-impact:
  - any:
      - changed-files:
          - any-glob-to-any-file:
              - "src/components/widgets/SecurityLevelWidget.tsx"
              - "src/components/RadarChart.tsx"
              - "src/hooks/useCIAOptions.ts"

# CIA Impact Areas - Special labels for CIA triad
confidentiality:
  - body: "- [x] Confidentiality"

integrity:
  - body: "- [x] Integrity"

availability:
  - body: "- [x] Availability"

# Security Level Impact - Special labels for security levels
security-basic:
  - body: "- [x] Basic"

security-moderate:
  - body: "- [x] Moderate"

security-high:
  - body: "- [x] High"

security-very-high:
  - body: "- [x] Very High"

constant update
  cypress/support/constants.ts
Labels: none

feat: enhance Cypress tests with improved error handling and widget verification methods
  cypress.config.ts
  cypress/e2e/widgets/availability-impact-widget.cy.ts
  cypress/e2e/widgets/base-widget-tests.ts
  cypress/support/e2e.ts
  cypress/support/test-patterns.ts
Labels: none

feat: add centralized test helpers and improve widget testing with enhanced error handling and security level updates
  cypress.config.ts
  cypress/e2e/auto-discovery-test.cy.ts
  cypress/e2e/widgets/advanced-widget-tests.ts
  cypress/e2e/widgets/all-widgets-security-test.cy.ts
  cypress/e2e/widgets/availability-impact-widget.cy.ts
  cypress/e2e/widgets/base-widget-tests.ts
  cypress/e2e/widgets/business-impact-widget.cy.ts
  cypress/e2e/widgets/cia-impact-summary-widget.cy.ts
  cypress/e2e/widgets/cia-impact-widgets.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/radar-chart-widget.cy.ts
  cypress/e2e/widgets/security-dashboard-widget.cy.ts
  cypress/e2e/widgets/security-level-widget.cy.ts
  cypress/e2e/widgets/security-resources-widget.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/technical-details-widget.cy.ts
  cypress/e2e/widgets/value-creation-widget.cy.ts
  cypress/e2e/widgets/widget-performance.cy.ts
  cypress/e2e/widgets/widget-test-helper.ts
  cypress/e2e/widgets/widget-test-template.cy.ts
  cypress/support/commands.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/enhanced-commands.ts
  cypress/support/index.ts
  cypress/support/smart-widget-testing.ts
  cypress/support/smart-widget-testing/index.ts
  cypress/support/smart-widget-testing/widget-helpers.ts
  cypress/support/test-patterns.ts
  cypress/support/types.ts
Labels: none

feat: add debugFailedTest command and enhance widget interaction with improved logging and error handling
  cypress.config.ts
  cypress/e2e/auto-discovery-test.cy.ts
  cypress/e2e/business-outcomes/compliance-validation.cy.ts
  cypress/e2e/security/security-controls-validation.cy.ts
  cypress/e2e/security/security-level-transitions.cy.ts
  cypress/e2e/user-journeys/security-assessment-workflow.cy.ts
  cypress/e2e/widgets/base-widget-tests.ts
  cypress/e2e/widgets/cia-impact-summary-widget.cy.ts
  cypress/e2e/widgets/cia-impact-widgets.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/confidentiality-impact-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/integrity-impact-widget.cy.ts
  cypress/e2e/widgets/security-profile-widget.cy.ts
  cypress/e2e/widgets/security-visualization-widget.cy.ts
  cypress/e2e/widgets/widget-test-helper.ts
  cypress/support/command-types.ts
  cypress/support/commands.ts
  cypress/support/debug-helpers.ts
  cypress/support/e2e.ts
  cypress/support/enhanced-commands.ts
  cypress/support/index.d.ts
  cypress/support/types.ts
  cypress/support/widget-interaction.ts
  cypress/tsconfig.json
Labels: none

feat: remove obsolete widget tests for security profile, cost estimation, compliance status, and auto discovery
  cypress/e2e/auto-discovery-test.cy.ts
  cypress/e2e/security/security-controls-validation.cy.ts
  cypress/e2e/user-journeys/security-assessment-workflow.cy.ts
  cypress/e2e/widgets/compliance-status-widget.cy.ts
  cypress/e2e/widgets/cost-estimation-widget.cy.ts
  cypress/e2e/widgets/security-dashboard-widget.cy.ts
  cypress/e2e/widgets/security-profile-widget.cy.ts
Labels: none

feat: remove obsolete widget tests for security visualization, summary, and performance
  cypress/e2e/widgets/security-level-widget.cy.ts
  cypress/e2e/widgets/security-resources-widget.cy.ts
  cypress/e2e/widgets/security-summary-widget.cy.ts
  cypress/e2e/widgets/security-visualization-widget.cy.ts
  cypress/e2e/widgets/value-creation-widget.cy.ts
  cypress/e2e/widgets/widget-performance.cy.ts
  cypress/e2e/widgets/widget-test-template.cy.ts
Labels: none

chore(release): bump version to v0.8.0
  package-lock.json
  package.json
Labels: none

Update index.html
  docs/index.html
Labels: none

test: remove outdated backup test files for RadarChart and Dashboard components
  src/CIAClassificationApp.darkmode.test.tsx.bak
  src/CIAClassificationApp.direct.test.tsx.bak
  src/CIAClassificationApp.enhanced.test.tsx.bak
  src/CIAClassificationApp.test.tsx.bak
  src/components/Dashboard.test.tsx.bak
  src/components/RadarChart.direct.test.tsx.bak
  src/components/RadarChart.extended.test.tsx.bak
  src/components/RadarChart.test.tsx.bak
  src/components/SecurityLevelSelector.test.tsx.bak
  src/services/ciaContentService.test.ts.bak
Labels: none

feat: introduce widget utility functions and update component imports for consistency
  src/App.test.tsx
  src/App.tsx
  src/application/CIAClassificationApp.comprehensive.test.tsx
  src/application/CIAClassificationApp.darkmode.test.tsx
  src/application/CIAClassificationApp.direct.test.tsx
  src/application/CIAClassificationApp.enhanced.test.tsx
  src/application/CIAClassificationApp.test.tsx
  src/application/CIAClassificationApp.tsx
  src/components/Dashboard.test.tsx
  src/components/charts/RadarChart.comprehensive.test.tsx
  src/components/charts/RadarChart.direct.test.tsx
  src/components/charts/RadarChart.enhanced.test.tsx
  src/components/charts/RadarChart.extended.test.tsx
  src/components/charts/RadarChart.test.tsx
  src/components/charts/RadarChart.tsx
  src/components/dashboard/Dashboard.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/securitylevel/SecurityLevelSelector.enhanced.test.tsx
  src/components/securitylevel/SecurityLevelSelector.test.tsx
  src/components/securitylevel/SecurityLevelSelector.tsx
  src/components/securitylevel/Selection.test.tsx
  src/components/securitylevel/Selection.tsx
  src/components/widgets/SecurityLevelWidget.test.tsx
  src/components/widgets/SecurityLevelWidget.tsx
  src/components/widgets/SecurityVisualizationWidget.test.tsx
  src/components/widgets/SecurityVisualizationWidget.tsx
  src/components/widgets/utils/index.ts
  src/components/widgets/utils/widgetHelpers.test.tsx
  src/components/widgets/utils/widgetHelpers.tsx
  src/components/widgets/utils/widgetRegistry.test.tsx
  src/components/widgets/utils/widgetRegistry.tsx
  src/constants/coreConstants.ts
  src/tests/testUtils/chartTestUtils.ts
  src/types/cia.ts
  src/types/widget.ts
  src/types/widgets.ts
Labels: needs-tests, high-coverage, component-security-level, core-app, data-model, critical-security-code

feat: add coverage and test result documentation, update coverage summary script
  cypress.config.ts
  cypress/e2e/widgets/widget-test-helper.ts
  cypress/reporter-config.json
  package.json
  src/components/widgets/SecurityVisualizationWidget.enhanced.test.tsx
  src/constants/appConstants.test.ts
  src/constants/testIds.test.ts
  src/utils/widgetRegistry.enhanced.test.tsx
  vite.config.ts
Labels: data-model

feat: add documentation files including favicon and index for test results
  .github/workflows/documentation.yml
Labels: none

fix: update coverage report paths in GitHub Actions workflow
  .github/workflows/test-and-report.yml
Labels: none

feat: add mochawesome report generation scripts and license files
  docs/cypress/mochawesome-all.json
  docs/cypress/mochawesome/index.html
  mochawesome-report/assets/MaterialIcons-Regular.woff
  mochawesome-report/assets/MaterialIcons-Regular.woff2
  mochawesome-report/assets/app.css
  mochawesome-report/assets/app.js
  mochawesome-report/assets/app.js.LICENSE.txt
  mochawesome-report/assets/roboto-light-webfont.woff
  mochawesome-report/assets/roboto-light-webfont.woff2
  mochawesome-report/assets/roboto-medium-webfont.woff
  mochawesome-report/assets/roboto-medium-webfont.woff2
  mochawesome-report/assets/roboto-regular-webfont.woff
  mochawesome-report/assets/roboto-regular-webfont.woff2
  mochawesome-report/docs/cypress/mochawesome/index.html
  package.json
Labels: none

Delete architecture directory
  architecture/ARCHITECTURE.md
  architecture/FLOWCHART.md
  architecture/FUTURE_ARCHITECTURE.md
  architecture/FUTURE_DATA_MODEL.md
  architecture/FUTURE_FLOWCHART.md
  architecture/FUTURE_MINDMAP.md
  architecture/FUTURE_STATEDIAGRAM.md
  architecture/FUTURE_SWOT.md
  architecture/FUTURE_WORKFLOWS.md
  architecture/MINDMAP.md
  architecture/STATEDIAGRAM.md
  architecture/SWOT.md
  architecture/WORKFLOWS.md
  architecture/component-dependencies.svg
  architecture/module-dependencies.svg
  architecture/project-structure.html
  architecture/project-structure.txt
Labels: none

Update documentation.yml
  .github/workflows/documentation.yml
Labels: none

Update documentation.yml
  .github/workflows/documentation.yml
Labels: none

refactor: update documentation workflow to generate documentation bundle
  .github/workflows/documentation.yml
Labels: none

Create index.html
  index.html
Labels: none

Update documentation.yml
  .github/workflows/documentation.yml
Labels: none

Update index.html and CIAClassificationApp.tsx for version display and asset reference
  docs/assets/index-BNyO8G0_.css
  docs/assets/index-XM4uIXax.js
  docs/assets/index-XM4uIXax.js.map
  docs/assets/index-tBA2gTMF.js
  docs/assets/index-tBA2gTMF.js.map
  docs/assets/index-ta353VYC.js
  docs/assets/index-ta353VYC.js.map
  docs/index.html
  src/application/CIAClassificationApp.tsx
Labels: none

Refactor GitHub Actions workflows for improved documentation generation and deployment
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  vite.config.ts
Labels: none

Update release workflow and refactor version handling in CIAClassificationApp
  .github/workflows/release.yml
  src/application/CIAClassificationApp.tsx
  vite.config.ts
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

chore(release): bump version to v0.8.1
  package-lock.json
  package.json
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

chore(release): bump version to v0.8.2
  package-lock.json
  package.json
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

chore(release): bump version to v0.8.3
  package-lock.json
  package.json
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

Delete .github/workflows/documentation.yml
  .github/workflows/documentation.yml
Labels: none

chore(release): bump version to v0.8.4
  package-lock.json
  package.json
Labels: none

Update documentation.html
  docs/documentation.html
Labels: none

Add Typedoc to all files missing documentation with descriptions
  src/App.tsx
  src/application/CIAClassificationApp.tsx
  src/index.tsx
  src/types/cia.ts
  src/utils/colorUtils.ts
  src/utils/securityLevelUtils.ts
  src/utils/widgetHelpers.tsx
Labels: high-coverage, core-app

Enhance VSCode settings with additional domain-specific, security, compliance, UI/UX, and business development terms
  .github/copilot-instructions.md
  .vscode/settings.json
  docs/architecture/WORKFLOWS.md
Labels: none

Revise compliance evaluation flowcharts to enhance clarity and detail, updating process steps and visual elements for better understanding.
  docs/architecture/ARCHITECTURE.md
  docs/architecture/FLOWCHART.md
  docs/architecture/MINDMAP.md
  docs/architecture/STATEDIAGRAM.md
  docs/architecture/SWOT.md
Labels: none

Remove combined index page generation from release workflow
  .github/workflows/release.yml
  docs/documentation.html
Labels: none

Update links in performance testing and workflows documentation for consistency
  README.md
  docs/architecture/WORKFLOWS.md
  docs/performance-testing.md
Labels: none

Refactor flowchart and state diagram class definitions for consistency and clarity
  README.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/FLOWCHART.md
  docs/architecture/MINDMAP.md
  docs/architecture/STATEDIAGRAM.md
Labels: none
